<div class="container">
    <div class="row footer-top">
        <div class="col-md-2">
            <a class="footer-logo" href="#" title="MEKONG"><img src="images/logo-footer.png" alt="" /></a>
        </div>
        <div class="col-md-2">
            <ul class="footer-menu">
                <li class="active"><a class="cvb" href="investor.html" title="Investor">Investor</a>
                </li>
                <li><a class="cvb" href="our-funds.html" title="Investee">Investee</a></li>
                <li><a class="cvb" href="our-team.html" title="Talents">Talents</a></li>
                <li><a class="cvb" href="our-story.html" title="Our Story">Our Story</a></li>
                <li><a class="cvb" href="news.html" title="Commucations">Commucations</a></li>
                <li><a class="cvb" href="gallery.html" title="Gallery">Gallery</a></li>
                <li><a class="cvb" href="#" title="Contact">Contact</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Vision Fulfillment Center - Hanoi</h3>
            <p>
                Lotte Hanoi Center<br>
                31st floor, EAST tower, 54 Lieu Giai, Ba Dinh,<br>
                Hanoi, Vietnam<br>
                Tel: (84 24) 3772 4888<br>
                Emaill: info@mekongcapital.com
            </p>
        </div>
        <div class="col-md-3 offset-md-1">
            <h3>Vision Fulfillment Center</h3>
            <p>
                Capital Place, 8th floor<br>
                6 Thai Van Lung, District 1,<br>
                Ho Chi Minh City, Vietnam<br>
                Tel: (84 28) 3827 3161<br>
                Emaill: info@mekongcapital.com
            </p>
        </div>
    </div>
    <div class="row footer-bottom">
        <div class="col-md-9">
            <p>Mekong Capital © 2021</p>
        </div>
        <div class="col-md-4 socials">
            <a href="#" class="icon-facebook"><img src="images/facebook.png" alt="Facebook" /></a>
            <a href="#" class="icon-intergram"><img src="images/instagram.png" alt="Intergram" /></a>
            <a href="#" class="icon-twitter"><img src="images/twitter.png" alt="twitter" /></a>
            <a href="#" class="icon-youtube"><img src="images/youtube.png" alt="Youtube" /></a>
        </div>
    </div>
</div>