<div class="full-screen-video-inner bg-cover"
     style="background-image:url(../images/full-screen-video/ontological-video.jpg)">


    <a class="full-screen-video__open-video" data-fancybox href="https://vimeo.com/536695038">
        <div class="full-screen-video-button cvb" data-magnetic="12">
            <button class="full-screen-video__play-button ">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 41 57">
                    <path fill="#fff" d="M.348.001v56.427l39.83-28.213L.348 0z"/>
                </svg>
            </button>
        </div>
    </a>

</div>