<div class="container ">
    <a href="#" title="MEKONG" class="cvb">
        <img src="images/logo-black.svg" alt="Me Kong" class="logo logo-black" />
        <img src="images/logo.svg" alt="Me Kong" class="logo logo-white" />
    </a>

    <div class="right-side">
        <div id="lang">
            <a href="">English</a>
            <a href="" class="cvb">Tieng Viet</a>
        </div>
        <button class="cvb hamburger hamburger--collapse" type="button" data-modal="popup-menubar" data-close-default="white">
            <span class="hamburger-box">
                <span class="hamburger-inner" ></span>

            </span> 
        </button> 
        <div class="modal-menubar-content" data-modal-menubar></div>
    </div>
</div>
