<div class="modal-wrapper">
    <div class="modal-contact-header">
    
        <a href="#" title="MEKONG" class="cvb"><img src="images/logo.svg" alt="Me Kong" class="logo" /></a>
        <div class="right-side">
            <div id="lang">
                <a href="">English</a>
                <a href="" class="cvb active">Tieng Viet</a>
            </div>
    
        </div>
    </div>
    <div class="modal-contact-left">
    
    
    </div>
    <div class="modal-contact-right">
        <div class="row footer-pages footer-menu">
            <ul class="col-md-10">
                <li class="cvb">
                    <a href="investor.html" title="Investor">Investor</a>
                    <span class="grayed -word">Investor</span>
                    <span class="numbering">1.</span>
                </li>
                <li class="cvb">
                    <a href="#" title="Business ">Business</a>
                    <span class="grayed -word">Business</span>
                    <span class="numbering">2.</span>
                </li>
                <li class="active cvb">
                    <a href="#" title="Talents">Talents</a>
                    <span class="grayed -word">Talents</span>
                    <span class="numbering">3.</span>                
                </li>
                <li class="cvb">
                    <a href="#" title="Our Story">Our Story</a>
                    <span class="grayed -word">Our Story</span>
                    <span class="numbering">4.</span>                                
                </li>
                <li class="cvb">
                    <a href="news.html" title="Communications">Communications</a>
                    <span class="grayed -word">Communications</span>
                    <span class="numbering">5.</span>                                
                </li>
                <li class="cvb">
                    <a href="gallery.html" title="Gallery">Gallery</a>
                    <span class="grayed -word">Gallery</span>
                    <span class="numbering">6.</span>                                
                </li>
            </ul>
        </div>
    </div>
</div>