<div class="our-funds-inner bg-cover">
     <!-- style="background-image:url(../images/our-funds/background.jpg)" data-parallax> -->
    <div class="container">

        <!-- heading -->
        <div class="row heading">
            <div class="col-md-9">
                <h3 class="sub-heading text-color-white">OUR FUND</h3>
                <h2 class="heading_2 text-color-white">Well-known for the most extensive track record</h2>
            </div>
        </div>

        <!-- intro text -->
        <!--<div class="row intro-text">
            <div class="col-md-6">
                <a href="#" class="btn-underline text-color-white">SHOW DETAIL</a>
            </div>
             <div class="col-md-6">
                <div class="text text-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div> 
        </div>-->

        <!-- key figures -->
        <div class="row key-figures">
            <div class="col-lg-10 offset-lg-2 col-md-12 offset-md-0">
                <ul class="key-figures-list">
                    <li class="key-figures-item">
                        <div class="inner">
                            <a class="link" href="#">
                                <div>
                                    <div class="number" data-counter="37">37</div>
                                    <h3 class="sub-heading">Investments</h3>
                                </div>
                                <i class="icon-arrow">
                                    <svg class="before" xmlns="http://www.w3.org/2000/svg" fill="none"
                                         viewBox="0 0 15 26">
                                        <path stroke="#000" stroke-width="2" d="M1 25l12-12L1 1"/>
                                    </svg>
                                    <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 36 27">
                                        <path stroke="#fff" stroke-width="2" d="M22 25.352l12-12m0 0l-12-12m12 12H0" />
                                    </svg> -->
                                    <svg class="after" width="45" height="26" viewBox="0 0 45 26" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M31 24.9131L43 12.9131L31 0.913086" stroke="white" stroke-width="2"/>
                                        <path d="M42 13L0 13" stroke="white" stroke-width="2"/>
                                    </svg>
                                </i>
                            </a>
                        </div>
                    </li>
                    <li class="key-figures-item">
                        <div class="inner">
                            <a class="link" href="#">
                                <div>
                                    <div class="number" data-counter="27">27</div>
                                    <h3 class="sub-heading">Exits</h3>
                                </div>
                                <i class="icon-arrow">
                                    <svg class="before" xmlns="http://www.w3.org/2000/svg" fill="none"
                                         viewBox="0 0 15 26">
                                        <path stroke="#000" stroke-width="2" d="M1 25l12-12L1 1"/>
                                    </svg>
                                    <svg class="after" width="45" height="26" viewBox="0 0 45 26" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M31 24.9131L43 12.9131L31 0.913086" stroke="white" stroke-width="2"/>
                                        <path d="M42 13L0 13" stroke="white" stroke-width="2"/>
                                    </svg>
                                </i>
                            </a>
                        </div>
                    </li>
                    <li class="key-figures-item">
                        <div class="inner">
                            <a class="link" href="#">
                                <div>
                                    <div class="number" data-counter="05">05</div>
                                    <h3 class="sub-heading">Funds</h3>
                                </div>
                                <i class="icon-arrow">
                                    <svg class="before" xmlns="http://www.w3.org/2000/svg" fill="none"
                                         viewBox="0 0 15 26">
                                        <path stroke="#000" stroke-width="2" d="M1 25l12-12L1 1"/>
                                    </svg>
                                    <svg class="after" width="45" height="26" viewBox="0 0 45 26" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M31 24.9131L43 12.9131L31 0.913086" stroke="white" stroke-width="2"/>
                                        <path d="M42 13L0 13" stroke="white" stroke-width="2"/>
                                    </svg>
                                </i>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>