<div class="our-team-inner">
    <div class="container">

        <!-- heading -->
        <div class="row heading">
            <div class="col-md-6">
                <h2 class="heading_2 text-color-white">Our team</h2>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="text text-body">
                    Mekong Capital has been a pioneer in building a powerful <span
                        class="emphasis">corporate culture</span>,
                    a strong team which
                    provides access for delivering breakthrough results.
                </div>
            </div>
        </div>

        <!-- slider -->
        <div class="slider">

            <div class="slider-body">

                <!-- team item -->
                <div class="team-item">
                    <a class="team-inner" href="#chris-freund">
                        <div class="image">
                            <div class="image-bg bg-cover"
                                 style="background-image:url(../images/team/our-team1.jpg)">
                                <img src="../images/team/our-team1.jpg" alt="Chris Freund">
                            </div>
                        </div>
                        <div class="name heading_2 text-color-white">Chris Freund</div>
                        <div class="description sub-heading text-color-white">Chairman and Partner</div>
                    </a>
                </div>
                <!-- end team item -->

                <!-- team item -->
                <div class="team-item">
                    <a class="team-inner" href="#chad-ovel">
                        <div class="image">
                            <div class="image-bg bg-cover"
                                 style="background-image:url(../images/team/our-team2.jpg)">
                                <img src="../images/team/our-team2.jpg" alt="CHAD OVEL">
                            </div>
                        </div>
                        <div class="name heading_2 text-color-white">CHAD OVEL</div>
                        <div class="description sub-heading text-color-white">Partner</div>
                    </a>
                </div>
                <!-- end team item -->

                <!-- team item -->
                <div class="team-item">
                    <a class="team-inner" href="#truong-dieu-le">
                        <div class="image">
                            <div class="image-bg bg-cover"
                                 style="background-image:url(../images/team/our-team3.jpg)">
                                <img src="../images/team/our-team3.jpg" alt="TRUONG DIEU LE">
                            </div>
                        </div>
                        <div class="name heading_2 text-color-white">TRUONG DIEU LE</div>
                        <div class="description sub-heading text-color-white">Partner of Operations</div>
                    </a>
                </div>
                <!-- end team item -->

                <!-- team item -->
                <div class="team-item">
                    <a class="team-inner" href="#nguyen-thi-minh-giang">
                        <div class="image">
                            <div class="image-bg bg-cover"
                                 style="background-image:url(../images/team/our-team4.jpg)">
                                <img src="../images/team/our-team4.jpg" alt="NGUYEN THI MINH GIANG">
                            </div>
                        </div>
                        <div class="name heading_2 text-color-white">NGUYEN THI MINH GIANG</div>
                        <div class="description sub-heading text-color-white">Partner of Talent and Culture</div>
                    </a>
                </div>
                <!-- end team item -->

                <!-- team item -->
                <div class="team-item">
                    <a class="team-inner" href="#truong-dieu-le">
                        <div class="image">
                            <div class="image-bg bg-cover"
                                 style="background-image:url(../images/team/our-team3.jpg)">
                                <img src="../images/team/our-team3.jpg" alt="TRUONG DIEU LE">
                            </div>
                        </div>
                        <div class="name heading_2 text-color-white">TRUONG DIEU LE</div>
                        <div class="description sub-heading text-color-white">Partner of Operations</div>
                    </a>
                </div>
                <!-- end team item -->

                <!-- team item -->
                <div class="team-item">
                    <a class="team-inner" href="#nguyen-thi-minh-giang">
                        <div class="image">
                            <div class="image-bg bg-cover"
                                 style="background-image:url(../images/team/our-team4.jpg)">
                                <img src="../images/team/our-team4.jpg" alt="NGUYEN THI MINH GIANG">
                            </div>
                        </div>
                        <div class="name heading_2 text-color-white">NGUYEN THI MINH GIANG</div>
                        <div class="description sub-heading text-color-white">Partner of Talent and Culture</div>
                    </a>
                </div>
                <!-- end team item -->

            </div>
            <div class="slider-bottom">
                <div class="arrows">
                    <button class="prev">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 19">
                            <path stroke="#fff" stroke-width="2" d="M10.3 1.686L2 9.986l8.3 8.3"/>
                        </svg>
                    </button>
                    <button class="next">
                        <svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.853954 18.2859L9.1543 9.98555L0.853954 1.6852" stroke="white" stroke-width="2"/>
                        </svg>
                    </button>
                </div>
                <div class="button">
                    <a href="#" class="btn-underline text-color-white">Show all team</a>
                </div>
            </div>

        </div>

    </div>
</div>