<div class="pioneers-inner">
    <div class="container">
        <div class="cloud"><img src="./images/cloud.png"/></div>
        <!-- heading -->
        <div class="row heading">
            <div class="col-md-12">
                <h3 class="sub-heading text-color-red">We are pioneers in </h3>
            </div>
        </div>

        <!-- intro text -->
        <div class="row content">
            <div class="col-md-6">
                <h2 class="heading_2">Ontological approach</h2>
            </div>
            <div class="col-md-6">
                <div class="text text-body">
                    Our partnership with each investee company starts with our shared vision for the future of that company, not an aspirational vision but a committed vision, and they can rely on us to be their partner in achieving that vision. We encourage them to create a bold, breakthrough vision for their future, and transform who they are being and how they see things such that they will reliably fulfill that vision. We call this approach Ontological Private Equity.

                </div>
                <a href="#" class="btn-underline">READ MORE...</a>
            </div>
        </div>

    </div>
</div>