<img src="images/get-in-touch/notify.svg" alt="Get In Touch" />

<div class="text" >
    <a href="#" data-modal="popup-contact" data-close-default="white" >Get in touch</a>
    <div class="contact-detail" data-modal-contact>
        <div class="modal-contact-header">

            <a href="#" title="MEKONG" class="cvb"><img src="images/logo.svg" alt="Me Kong" class="logo" /></a>
            <div class="right-side">
                <div id="lang">
                    <a href="">English</a>
                    <a href="" class="cvb active">Tieng Viet</a>
                </div>

            </div>
        </div>
        <div class="modal-contact-left">

            <div class="getintouch-contact">
                <h3>GET IN TOUCH</h3>

                <div class="getintouch-item">
                    <h4>Vision Fulfillment Center - HCMC</h4>
                    <p>Capital Place, 8th Floor</p>
                    <p>6 Thai Van Lung St., District 1, Ho Chi Minh City, Vietnam</p>
                    <p> <span>Tel:</span> +84 28 3827 3161</p>
                </div>

                <div class="getintouch-item">
                    <h4>Vision Fulfillment Center - Hanoi</h4>
                    <p>Lotte Center Hanoi, 31st Floor, East Tower</p>
                    <p>54 Lieu Giai St., Ba Dinh District, Hanoi, Vietnam</p>
                    <p> <span>Tel:</span> +84 24 3772 4888</p>
                    <p> <span>Email:</span> info@mekongcapital.com</p>
                </div>
            </div>
        </div>
        <div class="modal-contact-right">
            <div class="contact-form">
                <form>
                    <div class="input-form">
                        <input type="text" name="name" placeholder="Full name" />
                    </div>
                    <div class="input-form">
                        <input type="email" name="email" placeholder="Email" />
                    </div>                    
                    
                    <div class="input-form input-group">
                        <div class="input-group-default">
                            <img class="check-flag" src="../images/flags/eng.png" />
                            <img class="arrow cvb" src="../images/icons/arrow-down.png" />
                        </div>
                        <ul class="input-left">
                            <li class="cvb"><a href="#"><img src="../images/flags/eng.png" /> <span>United States</span> <span>+1</span></a></li>
                            <li class="cvb"><a href="#"><img src="../images/flags/jp.png" /> <span>Japan</span> <span>+81</span></a></li>
                            <li class="cvb"><a href="#"><img src="../images/flags/korea.png" /> <span>Korea</span> <span>+82</span></a></li>
                            <li class="cvb"><a href="#"><img src="../images/flags/china.png" /> <span>Hong Kong</span> <span>+852</span></a></li>
                            <li class="cvb"><a href="#"><img src="../images/flags/vn.png" /> <span>Vietnam</span> <span>+84</span></a></li>
                        </ul>
                        <input type="text" name="phone" placeholder="Phone" />
                    </div>      
                    
                    <div class="input-form">
                        <input type="text" name="messager" placeholder="Messager" />
                    </div>

                    <button type="button" class="cvb">Send</button>
                </form>
            </div>
            <div class="modal-contact-thank">
                <h3>Thank you for getting in touch!</h3>
                <p>contacting us. One of our colleagues will get back in touch with you soon!</p>
                <p> Have a great day!</p>
            </div>
        </div>
    </div>
</div>