
<div class="col-md-4 col-sm-6">
    <div class="content-image">
        <a class="cvb" href="/newsdetails.html"><img class="thumbnail" src="images/news-stories-tab/stories-1.jpg" alt="" /></a>
    </div>                                    
    <div class="content-text">
        <p>Minh Khue</p>
        <h3><a class="cvb" href="/newsdetails.html" title="Are you struggling with understanding what is E&S/Sustainability?">Are you struggling with understanding what is E&S/Sustainability?</a></h3>
        <p class="date">31 March 2021</p>
    </div>
</div>

<div class="col-md-4 col-sm-6">
    <div class="content-image">
        <a class="cvb" href="/newsdetails2.html"><img class="thumbnail" src="images/news-stories-tab/stories-2.jpg" alt="" /></a>
    </div>
    <div class="content-text">
        <p>Minh Phuong</p>
        <h3><a class="cvb" href="/newsdetails2.html" title="At the pit bottom of the well..">At the pit bottom of the well..</a></h3>
        <p class="date">18 March 2021</p>
    </div>
</div>

<div class="col-md-4 col-sm-6">
    <div class="content-image">
        <a class="cvb" href="/newsdetails3.html"><img class="thumbnail" src="images/news-stories-tab/stories-3.jpg" alt="" /></a>
    </div>
    <div class="content-text">
        <p>Minh Giang</p>
        <h3><a class="cvb" href="/newsdetails3.html" title="The Ugly Duckling">The Ugly Duckling</a></h3>
        <p class="date">28 February 2021</p>
    </div>
</div>

<div class="col-md-4 col-sm-6">
    <div class="content-image">
        <a class="cvb" href="/newsdetail4.html"><img class="thumbnail" src="images/news-stories-tab/stories-4.jpg" alt="" /></a>
    </div>
    <div class="content-text">
        <p>Chris Freund</p>
        <h3><a class="cvb" href="/newsdetail4.html" title="Interested in a career in Private Equity?">Interested in a career in Private Equity?</a></h3>
        <p class="date">22 February 2021</p> 
    </div>
</div>

<div class="col-md-4 col-sm-6">
    <div class="content-image">
        <a class="cvb" href="/newsdetail5.html"><img class="thumbnail" src="images/news-stories-tab/stories-5.jpg" alt="" /></a>
    </div>
    <div class="content-text">
        <p>Chad Ovel</p>
        <h3><a class="cvb" href="/newsdetails5.html" title="My journey being a vision driven leader">My journey being a vision driven leader</a></h3>
        <p class="date">28 January 2021</p>
    </div>
</div>

<div class="col-md-4 col-sm-6">
    <div class="content-image">
        <a class="cvb" href="/newsdetails6.html"><img class="thumbnail" src="images/news-stories-tab/stories-6.jpg" alt="" /></a>
    </div>
    <div class="content-text">
        <p>Thao Phuong</p>
        <h3><a class="cvb" href="/newsdetails6.html" title="The trap of ‘Who-I think-I-am’ vs. ‘Self-love'">The trap of ‘Who-I think-I-am’ vs. ‘Self-love’</a></h3>
        <p class="date">9 January 2021</p>
    </div>
</div> 

<div class="col-md-4 col-sm-6">
    <div class="content-image">
        <a class="cvb" href="/newsdetail7.html"><img class="thumbnail" src="images/news-stories-tab/stories-7.jpg" alt="" /></a>
    </div>
    <div class="content-text">
        <p>Max-Ferdinand Scheichenost</p>
        <h3><a class="cvb" href="/newsdetail7.html" title="“Are you fulfilled? IKIGAI.”">“Are you fulfilled? IKIGAI.”</a></h3>
        <p class="date">24 December 2020</p> 
    </div>
</div>

<div class="col-md-4 col-sm-6">
    <div class="content-image">
        <a class="cvb" href="/newsdetails8.html"><img class="thumbnail" src="images/news-stories-tab/stories-8.jpg" alt="" /></a>
    </div>
    <div class="content-text">
        <p>Rachel Davis</p>
        <h3><a class="cvb" href="/newsdetail8.html" title="To BE or not to BE a Mekonger">To BE or not to BE a Mekonger</a></h3>
        <p class="date">18 December 2020</p>
    </div>
</div>

<div class="col-md-4 col-sm-6">
    <div class="content-image">
        <a class="cvb" href="/newsdetails9.html"><img class="thumbnail" src="images/news-stories-tab/stories-9.jpg" alt="" /></a>
    </div>
    <div class="content-text">
        <p>Thao Phuong</p>
        <h3><a class="cvb" href="/newsdetails9.html" title="I am all in for YOLA’s future.">I am all in for YOLA’s future.</a></h3>
        <p class="date">11 December 2020</p>
    </div>
</div> 