<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/1.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="Chris Freund">Chris Freund</a></h3>
        <p>Chairman and Partner</p>
    </div>

    <!-- <div class="content-text" >
        <div class="our-fund-detail" data-modal-content>
            <div class="modal-body-left">
                <div>
                    <h3>The world-class team</h3>
                    <img src="images/team/our-team1.jpg" alt="" />
                </div>
                <div class="our-fund-icon">
                    <a class="action-arrow-prev cvb disabled" href="#"></a>
                    <span>1/8</span>
                    <a class="action-arrow-next cvb" href="#"></a>
                </div>
            </div>
            <div class="modal-body-right">
                <h3>Chris Freund</h3>
                <h4>Chairman and Partner</h4>
                <div class="our-fund-text">
                    <p>Mekong Enterprise Fund IV (MEF IV) has been launched in 2021 with</p>
                    <p>US$246 million in committed capital, more than double its</p>
                    <p> predecessor, Mekong Enterprise Fund III</p>
                    <p>&nbsp;</p>
                    <p>MEF IV will continue Mekong Capital’s successful strategy of</p>
                    <p> investing in growth equity investments in Vietnamese companies </p>
                    <p>and exclusively in proven consumer-driven sectors that benefit from
                    </p>
                    <p>the growth in
                        Vietnamese consumer demand and the adoption of</p>
                    <p>modern business practices. The Fund
                        will focus in particular on retail,</p>
                    <p>education, restaurants, consumer services, FMCG, and health care.</p>
                    <p>MEF IV applies Mekong Capital’s Ontological Private Equity approach
                    </p>
                    <p> and the Vision
                        Driven Investing framework with an intention to fulfill</p>
                    <p> its commitment for each investee
                        company to achieve its vision.</p>
                    <p>&nbsp;</p>
                    <p>MEF IV typically targets investments ranging from $10-35 million and
                    </p>
                    <p> can make both minority and buy-out investments.</p>
                </div>
            </div>

        </div>
    </div> -->
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/2.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="CHAD OVEL">CHAD OVEL</a></h3>
        <p>Partner</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/3.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="TRUONG DIEU LE">TRUONG DIEU LE</a></h3>
        <p>Partner of Operations</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/4.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="NGUYEN THI MINH GIANG">NGUYEN THI MINH GIANG</a></h3>
        <p>Partner of Talent and Culture</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/5.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="RACHEL DAVIS">RACHEL DAVIS</a></h3>
        <p>Director of Transformation</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/6.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="Max-F.Scheichenost">Max-F.Scheichenost</a></h3>
        <p>Director of Digital Transformation</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/7.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="DO THI KHANH VAN">DO THI KHANH VAN</a></h3>
        <p>Investment Director</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/8.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="NGUYEN ANH QUANG">NGUYEN ANH QUANG</a></h3>
        <p>Investment Director</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/9.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="HAWKINS PHAM">HAWKINS PHAM</a></h3>
        <p>Principal</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/10.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="SJOERD ZWINKELS">SJOERD ZWINKELS</a></h3>
        <p>Principal</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/11.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="HOANG MY HANH">HOANG MY HANH</a></h3>
        <p>Principal</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/12.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="NGUYEN KHANH VAN">NGUYEN KHANH VAN</a></h3>
        <p>Principal</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/13.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="TRAN NGOC THUY">TRAN NGOC THUY</a></h3>
        <p>Senior Associate</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/14.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="NGUYEN MINH PHUONG">NGUYEN MINH PHUONG</a></h3>
        <p>Senior Associate</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/15.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="BUI KIM TRANG">BUI KIM TRANG</a></h3>
        <p>Investment Director</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/16.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="ELLEN VAN">ELLEN VAN</a></h3>
        <p>Associate</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/17.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="NGUYEN LAN PHUONG">NGUYEN LAN PHUONG</a></h3>
        <p>Associate</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/18.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="TRAN MINH THUY">TRAN MINH THUY</a></h3>
        <p>Associate</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/19.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="LE KHAC HIEN">LE KHAC HIEN</a></h3>
        <p>Associate</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/20.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="DO THI HUYEN TRANG">DO THI HUYEN TRANG</a></h3>
        <p>Associate</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/21.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="TRAN PHUONG NAM">TRAN PHUONG NAM</a></h3>
        <p>Associate</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/22.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="NGUYEN THI MINH THU">NGUYEN THI MINH THU</a></h3>
        <p>Senior Talent and Culture Officer</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/23.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="QUACH THUY DUONG">QUACH THUY DUONG</a></h3>
        <p>Senior Talent and Culture Coachsultant</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/24.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="NGUYEN VAN HA">NGUYEN VAN HA</a></h3>
        <p>Senior Talent and Culture Coachsultant</p>
    </div>
</div>