<div class="col-md-4 col-sm-6">
    <div class="content-image">
        <a class="cvb" href="https://asia.nikkei.com/Life-Arts/Life/How-Marou-put-Vietnam-on-the-world-s-chocolate-map"><img class="thumbnail" src="images/news/news-1.jpg" alt="" /></a>
    </div>                                    
    <div class="content-text">
        <p>asia nikkei</p>
        <h3><a class="cvb" href="https://asia.nikkei.com/Life-Arts/Life/How-Marou-put-Vietnam-on-the-world-s-chocolate-map" title="How Marou put Vietnam on the world's chocolate map">How Marou put Vietnam on the world's chocolate map</a></h3>
        <p class="date">5 April 2021</p>
    </div>
</div>

<div class="col-md-4 col-sm-6">
    <div class="content-image">
        <a class="cvb" href="https://asia.nikkei.com/Life-Arts/Life/How-Marou-put-Vietnam-on-the-world-s-chocolate-map"><img class="thumbnail" src="images/news/news-2.jpg" alt="" /></a>
    </div>
    <div class="content-text">
        <p>bloomberg</p>
        <h3><a class="cvb" href="https://asia.nikkei.com/Life-Arts/Life/How-Marou-put-Vietnam-on-the-world-s-chocolate-map" title="A New-Age Corporate Culture Transformed a Fund Manager’s Fortunes">A New-Age Corporate Culture Transformed a Fund Manager’s Fortunes</a></h3>
        <p class="date">15 May 2019</p>
    </div>
</div>

<div class="col-md-4 col-sm-6">
    <div class="content-image">
        <a class="cvb" href="https://e.vnexpress.net/news/business/companies/vietnam-english-teaching-school-gets-10-mln-from-foreign-investor-3962508.html"><img class="thumbnail" src="images/news/news-3.jpg" alt="" /></a>
    </div>
    <div class="content-text">
        <p>VNEXPRESS</p>
        <h3><a class="cvb" href="https://e.vnexpress.net/news/business/companies/vietnam-english-teaching-school-gets-10-mln-from-foreign-investor-3962508.html" title="Vietnam English teaching school gets $10 mln from foreign investor">Vietnam English teaching school gets $10 mln from foreign investor</a></h3>
        <p class="date">27 June 2018</p>
    </div>
</div>

<div class="col-md-4 col-sm-6">
    <div class="content-image">
        <a class="cvb" href="https://www.avcj.com/avcj/official-record/3022414/fund-focus-asian-lps-amplify-mekong-s-ambitions"><img class="thumbnail" src="images/news/news-4.jpg" alt="" /></a>
    </div>
    <div class="content-text">
        <p>AVCJ</p>
        <h3><a class="cvb" href="https://www.avcj.com/avcj/official-record/3022414/fund-focus-asian-lps-amplify-mekong-s-ambitions" title="Fund focus: Asian LPs amplify Mekong’s ambitions">Fund focus: Asian LPs amplify Mekong’s ambitions</a></h3>
        <p class="date">13 January 2021</p>
    </div>
</div>

<div class="col-md-4 col-sm-6">
    <div class="content-image">
        <a class="cvb" href="https://www.dealstreetasia.com/stories/mekong-capital-222342/"><img class="thumbnail" src="images/news/news-5.jpg" alt="" /></a>
    </div>
    <div class="content-text">
        <p>DEAL STREET ASIA</p>
        <h3><a class="cvb" href="https://www.dealstreetasia.com/stories/mekong-capital-222342/" title="Mekong Capital’s latest fund worth $246 mln">Mekong Capital’s latest fund worth $246 mln</a></h3>
        <p class="date">9 January 2021</p>
    </div>
</div>

<div class="col-md-4 col-sm-6">
    <div class="content-image">
        <a class="cvb" href="https://e.vnexpress.net/news/business/companies/mekong-capital-s-latest-fund-worth-246-mln-4216961.html"><img class="thumbnail" src="images/news/news-6.jpg" alt="" /></a>
    </div>
    <div class="content-text">
        <p>VNEXPRESS</p>
        <h3><a class="cvb" href="https://e.vnexpress.net/news/business/companies/mekong-capital-s-latest-fund-worth-246-mln-4216961.html" title="Mekong Capital’s latest fund worth $246 mln">Mekong Capital’s latest fund worth $246 mln</a></h3>
        <p class="date">6 January 2021</p>
    </div>
</div> 