<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/4.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="NGUYEN THI MINH GIANG">NGUYEN THI MINH GIANG</a></h3>
        <p>Partner of Talent and Culture</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/22.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="NGUYEN THI MINH THU">NGUYEN THI MINH THU</a></h3>
        <p>Senior Talent and Culture Officer</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/23.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="QUACH THUY DUONG">QUACH THUY DUONG</a></h3>
        <p>Senior Talent and Culture Coachsultant</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-4 item-team cvb" data-close-default="black" data-modal="popup-data">
    <div class="content-image">
        <img class="thumbnail" src="images/team/24.jpg" alt="" />
    </div>
    <div class="report-content">
        <h3><a href="#" title="NGUYEN VAN HA">NGUYEN VAN HA</a></h3>
        <p>Senior Talent and Culture Coachsultant</p>
    </div>
</div>                            