section.full-screen-video {
  .full-screen-video-inner {
    padding: 80px 20px;
    height: 100vh;
    position: relative;
    @include d-flex();
    align-items: flex-end;

    &:before {
      @include fullpage();
      content: '';
      background: #000;
      opacity: .4;
    }

    @include desktop {
      height: auto;
      padding-top: 56%;
      padding-bottom: 65px;
    }
    @include mobile {
      height: 350px;
      padding: 20px 5px;
    }

    // content
    .container {
      position: relative;
      z-index: 2;
    }

    // play button
    .full-screen-video__open-video {
      display: block;
      @include fullpage();

      .full-screen-video-button {
        @include mid();
        z-index: 3;

        .full-screen-video__play-button {
          width: 40px;
          height: 56px;
          @include transition(all .3s ease);
          background: none;
          border: none;

          path {
            @include transition(all .3s ease);
          }

          &:hover, &.active {
            path {
              fill: $text-red-cl;
            }
          }
        }
      }
    }
  }
}