section.our-funds {
  .our-funds-inner {
    padding: 200px 0 160px;

    &:before {
      content: '';
      @include fullpage();
      background: #000;
      opacity: .4;
    }

    // container
    .container {
      position: relative;
      z-index: 2;
    }

    // heading
    .heading {
      margin-bottom: 120px;

      .sub-heading {
        margin-bottom: 80px;
      }
    }

    // intro text
    .intro-text {
      margin-bottom: 100px;

      .text {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    // key figures
    .key-figures-list {
      @include d-flex();
      @include flex-wrap(wrap);
      margin: -12px;

      li.key-figures-item {
        width: 33.33%;
        padding: 12px;

        .inner {
          @include aspectRatio(332/274);
          position: relative;

          .link {
            display: block;
            background: #fff;
            @include fullpage();
            padding: 25px 30px 30px 28px;
            @include transition(all .3s ease);

            &:hover {
              background: $text-red-cl;
              color: #fff;

              .number, .sub-heading {
                color: #fff;
              }

              .icon-arrow {
                .before {
                  @include transform(translateX(50%));
                  opacity: 0;
                }

                .after {
                  opacity: 1;
                  @include transform(translate(0, -50%));
                }
              }
            }

            .number {
              font-family: 'Sackers Gothic Std Heavy', sans-serif;
              font-style: normal;
              font-weight: 900;
              font-size: 80px;
              line-height: 1;

              letter-spacing: -0.07em;
              text-transform: uppercase;

              color: #0F1C2D;
              margin-bottom: 30px;
              @include transition(all .3s ease);
            }

            .sub-heading {
              @include transition(all .3s ease);
            }

            .icon-arrow {
              display: block;
              position: absolute;
              right: 20px;
              bottom: 30px;

              svg {

                width: 40px;
                height: 30px;
                @include transition(all .3s ease);

                &.before {
                }

                &.after {
                  position: absolute;
                  top: 50%;
                  right: 0;
                  @include transform(translate(-50%, -50%));
                  opacity: 0;
                }
              }
            }

          }
        }
      }
    }

  }
}