section.our-team {
  .our-team-inner {
    // background: #000;
    padding: 240px 0 0;

    .row.heading {
      margin-bottom: 80px;

      .text {
        color: rgba(0, 0, 0);

        .emphasis {
          color: #fff;
        }

        @include mobile {
          color: rgba(0, 0, 0);
          .emphasis {
            color: #000;
          }
        }
      }

      @include desktop {
        margin-bottom: 80px;
      }
      @include tablet {
        margin-bottom: 50px;
      }
      @include mobile {
        .heading_2 {
          margin-bottom: 30px;
        }
        .text-color-white {
          color: #161616;
        }
      }
    }

    .slider {
      .button {
        text-align: right;
        @include mobile {
          display: none;
        }

        a {
          display: inline-block;
        }
      }
      // slider body {
      .slider-body {
        @include d-flex();
        margin: 32px -10px 40px;

        @include tablet {
          margin: 0 -5px 30px;
        }
        @media only screen and (max-width: 567px) {
          margin: 0 -15px 30px;
          .slick-track {
            margin-left: -25px;
          }
        }

        .team-item {
          width: 25%;
          padding: 0 15px;

          @include tablet {
            padding: 0 10px;
          }

          .team-inner {
            display: block;

            &:hover {
              .name {
                color: $text-red-cl;
              }

              .image {
                .image-bg {
                  opacity: 1;
                  filter: grayscale(0);
                }
              }
            }

            .image {
              @include aspectRatio(280/372);
              position: relative;
              margin-bottom: 30px;
              background: #000;

              .image-bg {
                @include fullpage();
                opacity: .7;
                filter: grayscale(1);
                @include transition(all .3s ease);
              }
            }

            .name {
              font-size: 16px;
              margin-bottom: 5px;
              @include transition(all .3s ease);

              @include mobile {
                color: #161616;
              }
            }

            .description {
              font-size: 12px;
              @include mobile {
                color: rgba(0, 0, 0, 0.5);
              }
            }

          }

        }
      }

      // slider bottom
      .slider-bottom {
        text-align: right;
        @include mobile {
          .text-color-white {
            color: #161616;
          }
        }

        .arrows {
          margin-left: auto;
          display: inline-block;
          width: 100px;
          button {
            background: transparent;
            outline: none;
            border: none;
            &.prev {
              margin-right: 50px;
            }

            &:hover {
              path {
                stroke: $text-red-cl;
              }
            }

            svg {
              width: 10px;
              height: 16px;
            }
          }

          @include mobile {
            display: none;
          }
        }
      }
    }

    // responsive
    @include desktop {
      padding: 80px 0;
    }
    @include tablet {

    }
    @include mobile {
      background: none;
      padding: 0 0 65px;
    }
  }
}