a {
    color: $text-cl;
    text-decoration: none;
    display: block;
}

img {
    // display: block;
    // margin: auto;
    // max-width: 100%;
    object-fit: cover;
}

strong {
    font-family: bb;
}

.splitting {

    // overflow: hidden !important;
    &.lines .word {

        display: inline-block;
    }
}

.circle-cursor {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    pointer-events: none;
    border-radius: 50%;
}

.circle-cursor--inner {
    $cursor-radius: 5px;
    width: $cursor-radius;
    height: $cursor-radius;
    left: -$cursor-radius/2;
    top: -$cursor-radius/2;
    z-index: 11000;
    background-color: darkred;
    // display: none;

}

.circle-cursor--outer {
    width: 30px;
    height: 30px;
    border: 2px solid #b70004;
    z-index: 12000;

    img {
        @include transform(translate(-50%, -50%));
    }
}

.cvb {
    cursor: pointer
}

// .mover {
//     width: 50px;
//     height: 50px;
//     border: 1px solid red;
//     background: url("https://source.unsplash.com/random");
//     position: absolute;
//     left: var(--mouse-x);
//     top: var(--mouse-y);
//     border-radius: 100%;
//     transform: translate(-50%, -50%);
// }

.scrolled-down {
    @include transform(translateY(-100%) !important);
    @include transition(all 0.3s ease-in-out);
}

.scrolled-up {
    @include transform(translateY(0) !important);
    @include transition(all 0.3s ease-in-out);
}


// ARROW
.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
}

.right {
    @include transform(rotate(-45deg));
}

.left {
    @include transform(rotate(135deg));
}

.up {
    @include transform(rotate(-135deg));
}

.down {
    @include transform(rotate(45deg));
}