a {
    color: $text-cl;
    text-decoration: none;
    display: block;
}

img {
    object-fit: cover;
}

strong {
    font-family: bb;
}

.splitting {

    &.lines .word {
        display: inline-block;
    }
}

.circle-cursor {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    pointer-events: none;
    border-radius: 50%;
}

.circle-cursor--inner {
    $cursor-radius: 5px;
    width: $cursor-radius;
    height: $cursor-radius;
    left: -$cursor-radius/2;
    top: -$cursor-radius/2;
    z-index: 999999;
    background-color: darkred;
    // display: none;

}

.circle-cursor--outer {
    width: 30px;
    height: 30px;
    border: 2px solid #b70004;
    z-index: 999999;

    img {
        @include transform(translate(-50%, -50%));
    }
}

.cvb {
    cursor: pointer
}

// .mover {
//     width: 50px;
//     height: 50px;
//     border: 1px solid red;
//     background: url("https://source.unsplash.com/random");
//     position: absolute;
//     left: var(--mouse-x);
//     top: var(--mouse-y);
//     border-radius: 100%;
//     transform: translate(-50%, -50%);
// }

.scrolled-down {
    @include transform(translateY(-100%) !important);
    @include transition(all 0.3s ease-in-out);
}

.scrolled-up {
    @include transform(translateY(0) !important);
    @include transition(all 0.3s ease-in-out);
}


// ARROW
.arrow {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
}

.right {
    @include transform(rotate(-45deg));
}

.left {
    @include transform(rotate(135deg));
}

.up {
    @include transform(rotate(-135deg));
}

.down {
    @include transform(rotate(45deg));
}

@include keyframes(DaMagicAnimation) {
    0% {
        transform: perspective(1200px) rotateX(20deg) rotateY(20deg) skewX(3deg) skewY(3deg) scaleX(1);
    }

    100% {
        transform: perspective(1200px) rotateX(-20deg) rotateY(-20deg) skewX(-3deg) skewY(-3deg) scaleX(1);
    }
}


/* ------------ Triangles ----------- */ 
$triangle-size: 8px;
.triangle-up {
    width: 0;
    height: 0;
    border-left: $triangle-size solid transparent;
    border-right: $triangle-size solid transparent;

    border-bottom: $triangle-size solid $primary;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: $triangle-size solid transparent;
    border-right: $triangle-size solid transparent;

    border-top: $triangle-size solid $primary;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: $triangle-size solid transparent;
    border-bottom: $triangle-size solid transparent;

    border-left: $triangle-size solid $primary;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: $triangle-size solid transparent;
    border-bottom: $triangle-size solid transparent;

    border-right: $triangle-size solid $primary;
}

