footer {
    // background-image: linear-gradient(to bottom, #ffffff, #cfcfd3, #a0a0aa, #727582, #474c5c, #363948, #252634, #161522, #16101a, #130b12, #0c0509, #000000);
    background-color: #0F1C2D;
    padding-top: 48px;
    padding-top: 80px;
    color: $white-cl;
    position: relative;
    z-index: 0;
    bottom: 0;
    left: 0;
    right: 0;

    * {
        color: rgba(255, 255, 255, 0.9);
        font-family: 'Sackers Gothic Std Light';
        text-transform: lowercase;
        font-size: 12px;

        h3 {
            line-height: 1;
            font-size: 14px;
            font-family: inherit;
            margin-bottom: 16px;
        }
    }

    .container {
        // max-width: $container-width;
        // margin: 0 auto;

        .footer-menu {

            ul {
                list-style: none;
                @include d-flex;

                li {
                    font-weight: 400;

                    &.active {
                        a {
                            opacity: 1;


                        }
                    }

                    a {
                        color: $white-cl;
                        opacity: 0.3;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }

/*            &:last-child {
                padding-top: 32px;
                padding-bottom: 104px;
            }*/
        }

        .info-company {
            font-weight: 400;
            padding-top: 80px;

            .col-md-2 {
                img {
                    float: right;
                }
            }
        }

        .policy-menu {
            margin-top: 30px;
            padding-top: 32px;
            padding-bottom: 104px;

            ul {
                list-style: none;
                @include d-flex;
                @include justify-content(space-between);
                max-width: 80%;

                * {
                    font-size: 12px;
                    color: $white-cl;
                }
            }


        }

        .social {
            a {
                display: inline-block;
                padding-right: 16px;

                &:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}

@include desktop {}

@include tablet {}

@include mobile {
    footer {
        .footer-logo {
            text-align: center;
            margin-bottom: 80px;
        }

        .footer-menu,
        .policy-menu {
            ul {
                display: block !important;
                max-width: 320px;
                margin: 0 auto;
                text-align: center;

                li {
                    display: block;
                    line-height: 40px !important;
                }
            }
        }

        .info-company {
            .col-md-2 {
                text-align: center;
                margin-top: 80px;

                img {
                    float: none !important;
                }
            }
        }

        .social {
            text-align: center !important;
            margin-top: 80px;
        }
    }
}

@include mobile-xxs {}



#footer {
    padding: 80px 0 40px;
    width: 100%;
    background-color: #161616;
    position: relative;
    z-index: 10;

    * {
        color: #fff;
        font-family: 'Sackers Gothic Std Light';
        font-size: 12px;

        p {
            line-height: 1.5;
            font-family: 'Zona-Pro';
            opacity: 0.5;
        }

        .footer-logo img,
        .acitve {
            opacity: 1;
        }

        h3 {
            line-height: 1;
            margin-bottom: 10px;
            font-size: 14px;
            opacity: 1;
            text-transform: lowercase;
        }
    }

    .footer-top {
        margin-bottom: 80px;

        @include mobile {
            margin-bottom: 20px;
        }

        >* {
            @include mobile {
                margin-bottom: 20px;
            }
        }

        .footer-menu {
            text-transform: lowercase;
            li {
                margin-bottom: 10px;

                a {
                    opacity: 0.5;
                    font-size: 14px;
                }
            }

            .active {
                a {
                    opacity: 1;
                }
            }
        }
    }

    .footer-bottom {
        >* {
            @include mobile {
                margin-bottom: 20px;
            }
        }

        .socials {
            @include d-flex;
            @include justify-content(space-between);
            max-width: 200px;
            img {height: 20px;}
            a {
                opacity: .5;
                &:hover {
                    opacity: 1;
                }
            }

        }
    }

}