header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;

    .logo {
        width: 120px;
        height: auto;
        margin-left: -15px;
    }

    // mix-blend-mode: difference;
    .container {
        @include d-flex;
        @include justify-content(space-between);
        width: 100%;
        padding-top: 30px;

        [title="MEKONG"] {
            margin-right: auto;
            margin-left: 100px;
        }

        .right-side {
            @include d-flex;
            margin-right: 100px;

            #lang {
                padding-top: 8px;
                align-items: center;

                @include d-flex;
                @include justify-content(space-between);
                width: 120px;
                margin-right: 16px;

                a {
                    letter-spacing: 0.1px;
                    font-weight: bold;
                    font-family: 'GothicPro-Regular';
                    font-size: 12px;
                    color: #fff;
                }
            }
        }
    }

    .hamburger {
        padding: 0;

        .hamburger-box {
            .hamburger-inner:after {
                opacity: 0;
            }

            .hamburger-inner,
            .hamburger-inner:after,
            .hamburger-inner:before {
                background-color: #fff;
                height: 2px;
            }
        }

        &:hover {
            .hamburger-inner {
                @include transform(scaleX(0.8));
                @include transition(.3s ease);
            }
        }
    }
}

#banner {
    position: relative;
    z-index: 11;
}

.get-in-touch {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    background-color: #b70004;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    // @include transform(translateX(-50%));

    // mix-blend-mode: difference;
    img {
        width: 50px;
        @include mid;
    }

    // .dot {
    //     width: 15px;
    //     height: 15px;
    //     border-radius: 100%;
    //     background-color: #fff;
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     @include transform(translate(-50%, -50%));
    // }
}