.modal-popup[modal-type="popup-gallery"]{
    background: #000;
    .modal-popup-content{
        margin: 145px 200px;
        height: calc(100% - 290px);
        .modal-body{
            height: 100%;
            text-align: center;
            .popup-gallery{
                height: 100%;
                display: inline-block;
                .popup-gallery-thumbnail{
                    height: 100%;
                    text-align: center;
                    display: inline-block;
                    img{
                        height: 100%;
                    }
                }
                .popup-gallery-info{
                    color: $white-cl;       
                    margin-top: 32px;
                    .popup-cation{
                        font-family: 'GothicPro-Regular';                        
                        font-size: 14px;
                        line-height: 24px;
                        float:left;
                    }
                    .popup-action{
                        float:right;
                        a{
                            display: inline-block;
                            position: relative;
                            z-index: 9999;
                        }
                        .action-arrow-prev, .action-arrow-next{
                            width: 15px;
                            height: 26px;     
                            display: inline-block;                        
                            position: relative;
                            z-index: 999;
                            &:hover{          
                                background-size: 70% !important;
                                top: 5px;                                
                            }
                            &.disabled{
                                display: none;
                            }
                        }
                        .action-number{
                            font-family: 'Sackers Gothic Std Medium';
                            font-size: 14px;
                            line-height: 14px;
                            position: relative;
                            top: -7px;
                            padding: 0 20px;
                        }
                        .action-arrow-prev{
                            background: url('../images/modal/arrow-prev.svg') no-repeat;
                            &:hover{
                                background: url('../images/modal/arrow-prev-hover.svg') no-repeat;
                            }
                        }
                        .action-arrow-next{
                            background: url('../images/modal/arrow-next.svg') no-repeat;
                            &:hover{
                                background: url('../images/modal/arrow-next-hover.svg') no-repeat;
                            }
                        }                        
                    }
                }
            }            
        }
    }
}
.modal-popup[modal-type="popup-data"]{
    .modal-popup-content{
        .modal-body{   
            padding-right: 167px; 
            .modal-body-left{
                padding-left: 0px;
                background: #FFFFFF; 
                padding-top: 70px;
                max-height: calc(100% - 140px);
                text-align: center;
                img{
                    height: calc(100vh - 330px);
                }
                h3{
                    opacity: 1;
                    color: $text-black-cl;
                    font-style: normal;
                    font-weight: 800;
                    font-size: 14px;
                    line-height: 14px;
                    font-family: 'Sackers Gothic Std Heavy';
                    text-transform: uppercase;
                    transform: none !important ;
                    max-width: 100%;

                }
                .our-fund-icon{   
                    margin-top: 32px;
                    position: relative;
                    a{
                        display: inline-block;
                        position: relative;
                        z-index: 9999;
                    }
                    .action-arrow-next, .action-arrow-prev{
                        width: 12px;
                        height: 20px;     
                        min-width: 0px;
                        &.disabled{
                            display: none;
                        }                        
                    }
                    .action-arrow-prev{                     
                        background: url('../images/icons/arrow-prev.svg') no-repeat;  
                        background-size: 12px;
                        &:hover{
                            background: url('../images/icons/arrow-prev-hover.svg') no-repeat;
                        }
                    }
                    .action-arrow-next{                      
                        background: url('../images/icons/arrow-next.svg') no-repeat;
                        background-size: 12px;
                        &:hover{
                            background: url('../images/icons/arrow-next-hover.svg') no-repeat;
                        }
                    }               

                    span{
                        font-family: 'Sackers Gothic Std Heavy';
                        color: $text-black-cl;                        
                        font-size: 14px;
                        line-height: 24px;
                        display: inline-block;
                        vertical-align: top;
                        text-align: center;
                        min-width: 70px;
                        color: $text-black-cl;                     
                    }
                }
            }
            .modal-body-right{
                margin-top: 110px;
                color: $text-black-cl;
                width: 50%;
                height: 400px;
                background: #FFFFFF;
                overflow: auto;  
                padding-top: 10px;
                @include custom-scrollbar();
                h3{
                    opacity: 1;
                    margin: 0;
                    font-weight: 800;
                    font-size: 18px;
                    line-height: 48px; 
                    font-family: 'Sackers Gothic Std Heavy';
                    text-transform: uppercase;
                    transform: none !important ;
                    max-width: 100%;
                }
                h4{
                    font-family: 'Sackers Gothic Std Heavy';          
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 14px;
                    text-transform: lowercase;
                    margin-bottom: 50px;
                }
                p{ 
                    font-family: 'Zona-Pro-ExtraLight';
                    margin: 0;
                    line-height: 24px;
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 400;
                }
            }
        }
    }
}

.modal-popup[modal-type="popup-get-in-touch"]{

    .modal-popup-content{

        height: calc(100% - 290px);

        .modal-body{
            height: 100%;
            .modal-gitintouch-left{
                width: 50%;
                height: 100vh;
                color: #FFFFFF;
                float: left;
                background: url('../images/team/wall.png') ;
                background-size: cover;
                padding-top: 130px;
                padding-left: 130px;
                img{
                    width: 120px;
                    height: auto;
                    position: relative;
                    top: -70px;
                }
                .getintouch-contact{

                    h3{
                        max-width: 100%;
                        font-weight: 800;
                        font-size: 48px;
                        line-height: 58px; 
                        font-family: 'GothicPro-Regular';
                        letter-spacing: 10px;

                    } 
                    .getintouch-item{ 
                        margin-bottom: 30px;
                        letter-spacing: 1px;
                        h4{
                            font-family: 'Sackers Gothic Std Heavy';
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 25px;
                            text-transform: uppercase;
                        }
                        p{
                            font-style: normal;
                            font-size: 14px;
                            line-height: 19px;
                            margin-bottom: 0px;
                        }
                        span{
                            font-weight: bold;

                        }
                        &:last-child{
                            margin-bottom: 0px;
                        }
                    }
                }

            }
            .modal-gitintouch-right{
                padding-left: 70px;
                padding-top: 190px;
                height: 100vh;
                width: 50%;
                background: url('../images/team/wall.png');
                background-size: cover;
                float: right;

                form{
                    width: 600px;
                    height: 400px;

                    input{ 
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 24px;
                        font-family: 'GothicPro-Regular';
                        border: 1px solid #FFFFFF;
                        width: 100%;
                        height: 50px;
                        display: block;
                        border-left: none; 
                        border-top: none; 
                        border-right: none; 
                        margin-bottom: 20px;
                        background: none;
                        &::placeholder{
                            color: #FFFFFF;
                        }
                        &:nth-child(4){
                            margin-top: 50px;
                        }
                    }
                    button{
                        background: none;
                        border-left: none; 
                        border-top: none; 
                        border-right: none; 
                        color: #FFFFFF;
                        border-bottom: 1px solid #FFFFFF;
                        text-transform: uppercase;
                        font-family: 'GothicPro-Regular';
                        letter-spacing: 3px;
                        float: right;
                    }
                }
            }
        }
    }
}


.modal-popup[modal-type="popup-contact"]{
    .modal-popup-content{
        height: calc(100% - 290px);

        .modal-close{
            position: absolute;
            top:32px;
            z-index: 10;
            right: calc(50% / 8.5);
        }
        .modal-body{
            height: 100%;

            .modal-contact-header{
                position: fixed;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 80px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                img{
                    width: 120px;
                    height: auto;
                    margin-left: 108px; 
                }
                .right-side{
                    @include d-flex;
                    margin-right: 118px;
                    #lang {
                        @include d-flex;
                        @include justify-content(space-around);
                        padding-top: 8px;
                        align-items: center;
                        width: 200px;
                        margin-right: 16px;
                        display: none;
                        a {
                            letter-spacing: 0.1px;
                            font-weight: bold;                          
                            font-family: 'Sackers Gothic Std Medium';
                            text-transform: lowercase;
                            font-size: 12px;
                            color: #fff;
                            &:last-child{
                                opacity: 0.5;
                            }
                        }
                    }
                }

            }
            .modal-contact-left{
                width: 50%;
                height: 100vh;
                color: #FFFFFF;
                float: left;
                background: url('../images/bg_modal.png') ;
                background-size: cover;;
                padding-left: calc(50%/7);                
                /*                img{
                                    width: 120px;
                                    height: auto;
                                    position: relative;
                                    top: -70px;
                                }*/
                transform: scale(1);
                transition: transform 1.3s cubic-bezier(.34,.615,.4,.985) .3s;
                .getintouch-contact{                    
                    padding-top: calc(100vh/3);
                    h3{
                        max-width: 100%;
                        font-weight: 800;
                        font-size: 48px;
                        line-height: 58px; 
                        /*                        font-family: 'GothicPro-Regular';*/
                        font-family: 'Sackers Gothic Std Heavy';
                        text-transform: lowercase;

                    } 
                    .getintouch-item{ 
                        margin-bottom: 30px;
                        letter-spacing: 1px;
                        h4{
                            font-family: 'Sackers Gothic Std Heavy';
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 25px;
                            text-transform: uppercase;
                        }
                        p{
                            font-style: normal;
                            font-size: 14px;
                            line-height: 19px;
                            margin-bottom: 0px;
                        }
                        span{
                            font-weight: bold;

                        }
                        &:last-child{
                            margin-bottom: 0px;
                        }
                    }
                }

            }
            .modal-contact-right{
                /*                padding-left: 70px;*/
                padding-top: calc(100vh/3);
                height: 100vh;
                width: 50%;
                background: url('../images/team/wall-black.png');
                background-size: cover;
                float: right;
                padding-right: calc(50%/7);          
                .contact-form{  

                    form{
                        height: 400px;
                        width: calc( 100% / 1.48 );
                        float: right;
                        input{ 
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 24px;
                            font-family: 'Zona-Pro';
                            border: 1px solid #FFFFFF;
                            width: 100%;
                            height: 50px;
                            display: block;
                            border-left: none; 
                            border-top: none; 
                            border-right: none; 
                            margin-bottom: 20px;
                            background: none;
                            color: #fff;
                            &::placeholder{
                                color: #FFFFFF;
                            }
                            &:nth-child(4){
                                margin-top: 50px;
                            }
                        }
                        .input-group{
                            position: relative;
                            .input-group-default{
                                position: absolute;
                                z-index: 999;
                                top: 17px;
                                border-bottom: 1px solid #FFFFFF;
                                font-family: 'Zona-Pro';
                                font-size: 14px;
                                padding-bottom: 7px;
                                padding-right: 20px;
                                i{
                                    vertical-align: top;
                                    line-height: 25px;                                    
                                }
                                .arrow{
                                    position: absolute;
                                    z-index: 9999;
                                    top: 7px;
                                    cursor: pointer;
                                }
                            }
                            input{
                                width: calc(100% - 80px);
                                float: right;
                            }
                            .input-left{
                                position: absolute;
                                left: 0;
                                top: 60px;
                                background: #fff;
                                min-width: 230px;
                                padding: 10px 0;
                                z-index: 9999;
                                display: none;
                                li{
                                    padding: 5px 24px;
                                    span{
                                        display: inline-block;
                                        font-family: 'Zona-Pro';
                                        vertical-align: top;
                                        &:last-child{
                                            float: right;
                                        }
                                    }
                                    &:hover{
                                        background: #000;
                                        a{
                                            color: #fff;
                                        }
                                    }
                                }
                            }
                        }
                        button{
                            background: none;
                            border-left: none; 
                            border-top: none; 
                            border-right: none; 
                            color: #FFFFFF;
                            border-bottom: 1px solid #FFFFFF;
                            text-transform: uppercase;
                            font-family: 'GothicPro-Regular';
                            letter-spacing: 3px;
                            float: right;
                        }
                    }   
                }
                .modal-contact-thank{
                    display: none;
                    h3{
                        max-width: 70%;
                        font-size: 48px;
                        line-height: 48px;
                        font-weight: 900;
                        font-family: 'Sackers Gothic Std Heavy';
                        text-transform: uppercase;
                    }

                    p{
                        font-family: 'Zona-Pro-ExtraLight';
                        font-size: 14px;
                        line-height:24px;
                        margin-bottom: 0;
                        &:last-child{
                            font-family: 'Zona-Pro-ExtraLight';
                            font-size: 14px;
                            line-height:24px;

                        }
                    }

                }

            }
        }
    }
}

.modal-popup[modal-type="popup-menubar"]{
    .modal-popup-content{
        .modal-close{
            position: absolute;
            top:32px;
            z-index: 10;
            /*right: calc(50% / 8.5);*/
            right: 100px;
        }
        .modal-body{

            .modal-contact-header{
                position: fixed;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 80px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                img{
                    width: 120px;
                    height: auto;
                    margin-left: 108px; 
                }
                .right-side{
                    @include d-flex;
                    margin-right: 118px;
                    #lang {
                        @include d-flex;
                        @include justify-content(space-around);
                        padding-top: 8px;
                        align-items: center;
                        width: 200px;
                        margin-right: 16px;
                        display: none;
                        a {
                            letter-spacing: 0.1px;
                            font-weight: bold;                          
                            font-family: 'Sackers Gothic Std Medium';
                            text-transform: lowercase;
                            font-size: 12px;
                            color: #fff;
                            &:last-child{
                                opacity: 0.5;
                            }
                        }
                    }
                }

            }
            .modal-contact-left{
                width: 50%;
                height: 100vh;
                color: #FFFFFF;
                float: left;
                background: url('../images/bg_modal.png') ;
                background-size: cover;;
                padding-left: calc(50%/7);                
                /*transform: scale(1);*/
                /*transition: transform 1.3s cubic-bezier(.34,.615,.4,.985) .3s;*/
            }
            .modal-contact-right{

                padding-top: calc(100vh/3);
                height: 100vh;
                width: 50%;
                background: url('../images/team/wall-black.png');
                background-size: cover;
                float: right;
                padding-right: calc(50%/7);          

                .footer-menu {
                    width: 100%;
                    display: block;
                    max-width: 460px;
                    float: right;
                    ul {
                        /*counter-reset: section;*/
                        list-style: none;              
                        li {
                            position: relative;
                            font-family: 'Sackers Gothic Std Heavy';
                            font-size: 40px;        
                            font-weight: 400;
                            text-transform: lowercase;
                            width: 100%;
                            min-height: 60px;
                            /*                            &.active {
                                                            a {
                                                                opacity: 1;
                                                            }
                                                        }*/
                            a {
                                color: #FFFFFF;  
                                opacity: 0;
                                &::before {
                                    /*counter-increment: section;*/
                                    /*content: counter(section) ".";*/
                                    font-family: 'Sackers Gothic Std Heavy';
                                    font-size: 14px;
                                    line-height: 24px;
                                    color: #FFFFFF;  
                                }
                                /*                                &:hover {
                                                                    opacity: 1;
                                                                }*/
                            }
                            span{                                
                                position: absolute;
                                &.-word{
                                    left: 15px;
                                    top: 0px;
                                }
                                &.grayed{
                                    color: #8A8A8A;
                                }
                                &.numbering{
                                    font-family: 'Sackers Gothic Std Heavy';
                                    font-size: 14px;
                                    line-height: 24px;    
                                    bottom: 18px;
                                    opacity: 0;
                                }
                            }
                        }
                    }
                    &:last-child {
                        padding-top: 32px;
                        padding-bottom: 104px;


                    }
                }

            }

        }
    } 
}
.modal-popup{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    /*    display: none;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: #161616;
    color: #fff;
    .modal-popup-content{
        height: 100%;
        .modal-close{
            position: absolute;
            top:32px;
            right: 100px;
        }
        .modal-body{            
            .modal-body-left, .modal-body-right{
                width: 50%;
                height: 100vh;
            }
            h3{
                font-family: 'happy-time-Regular';
                font-weight: 400;
                font-size: 40px;
                line-height: 48px;
                margin-bottom: 48px;
                max-width: 160px;
            }
            p{
                font-family: 'GothicPro-Regular';
                font-size: 14px;
                line-height: 24px;
                font-weight: 400;
                margin-bottom: 32px;
            }
            .modal-body-left{
                background: #0F1C2D;
                overflow: hidden;
                padding-left: 176px;
                padding-top: 160px;
                padding-right: 56px;
                float: left;                
            }
            .modal-body-right{
                overflow-y: auto;       
                float: right;
                padding-left: 63px;
                padding-top: 160px;
                padding-right: 63px;
                .modal-fund-tabs{
                    ul{
                        li{
                            display: inline-block;
                            padding-right: 32px;
                            &:last-child{
                                padding-right: 0;
                            }
                            &.active{
                                a{
                                    color: $text-red-cl;                                    
                                }
                            }
                            a{
                                font-family: 'GothicPro-Regular';
                                font-weight: 700;
                                font-size: 18px;
                                line-height: 32px;
                                display: inline-block;
                                text-transform: uppercase;                                
                            }
                        }
                    }
                    .tab-content{
                        .tab-panel{
                            padding-top: 40px;
                            display: none;
                            color: $text-black-cl;
                            &.active{
                                display: block;
                            }
                            .client-list{
                                display: flex;
                                flex-wrap: wrap;
                                align-items: center;
                                justify-content: center;
                                .client-item{
                                    flex: 1 1 calc(100% / 3);
                                    filter: grayscale(1);
                                    padding: 40px;
                                    border: 1px solid #00000080;
                                    height: 125px;
                                    &:hover{
                                        filter: grayscale(0);
                                    }                                   
                                    img{
                                        width: 80%;
                                    }
                                }
                            }
                        }
                    }
                }                
            }
        }
    }
}

.menu-overlay{
    position: fixed;
    top: 0;
    righ: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: #fff;
    display: none;
    /*opacity: 0.5;*/
    transform: translate(0%, 0%);
}

@include mobile {
    .modal-popup[modal-type="popup-menubar"]{
        .modal-contact-left{
            display: none;
        }
        .modal-contact-right{
            width: 100% !important;
            .footer-menu {
                ul{
                    li{ 
                        font-size: 24px !important;
                        letter-spacing: -5%;                            
                        line-height: 16px;
                        min-height: 40px !important;
                        a{

                        }
                        .-word{
                            font-size: 24px !important;
                            letter-spacing: -5%;                                 
                        }
                        .numbering{
                            font-size: 14px !important;
                            letter-spacing: -5%;                                                             
                        }
                    }
                }
            }
        }
    }
}