/*primary colors*/
$white-cl: #fff;
$black-cl: #000;

/*global text color*/
$text-cl: #222;
$text-black-cl: #14171C;
$text-gray-cl: #14171C;
$text-gray30-cl: #14171c4d;
$primary: #B70004;
$text-red-cl: #B70004;

/*global bg color*/
$main-bg-cl: #B3DCEB;
$black-bg-cl: #000;

// time transition
$t: 0.4s;
$cubic: cubic-bezier(0.84, 0.13, 0.33, 0.97);

/*font families*/
$font-stack: "Open Sans", sans-serif;

/*headings typo*/
$fz-text: 16px;
$lh-text: normal;

$fz-text-m: 16px;
$lh-text-m: normal;

/*GRID - media queries breakpoints*/
$xxs-min: 340px;
$xs-min: 768px;
$sm-min: 992px;
$md-min: 1200px;
$lg-min: 1600px;

$xxs-max: ($xxs-min - 1);
$xs-max: ($xs-min - 1);
$sm-max: ($sm-min - 1);
$md-max: ($md-min - 1);
$lg-max: ($lg-min - 1);

/*BOXED LAYOUT*/
$max-width: 1440px;
$container-max-width: $max-width;
$container-width: 1224px;
// banner height
$banner-height: 100vh;
// footer height

$darkblue: #0f1c2d;
$footer-height: 400px;
$footer-bg: #000;
$primary : #fff;

