html.page{
    .page-gallery{
        #main{
            .page-block{
                .page-content{
                    .tab-page{
                        margin-bottom: 80px;
                    }
                    .container{
                        .gallery-box{
                            overflow: hidden;
                            max-height: 392px;
                            &:hover{
                                .thumbnail{
                                    /*filter: grayscale(0);*/
                                    transform: scale(1.1);
                                    transition: .8s all;
                                }                                
                            }
                            .thumbnail{
                                /*filter: grayscale(1);*/
                                transform: scale(1);
                                transition:  .8s all;
                                -webkit-transition:  .8s all;                                                                   
                            }
                        }
                    }
                }
            }
        }
    }
}