#banner {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;

    >* {
        z-index: 3;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &.subject {
            // transition-timing-function: ease;
            // @include transition(0.75 ease);
        }
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 100px;
        @include transform(translateY(-50%));
        color: #FFF;
        line-height: 72px;
        font-size: 80px;
        font-family: 'happy-time-Bold';
        font-weight: 400;
        text-align: left;

        @include mobile {
            font-size: 32px;
            left: 20px;
            line-height: 1;
        }

        >span {
            overflow: hidden !important;
            display: inline-block;
            line-height: 1.2;
        }
    }
}

#main {
    background-color: $main-bg-cl;
    margin-top: calc(224px + 100vh);
    padding-top: 200px;
    // margin-bottom: $footer-height;
    position: relative;
    z-index: 11;

    >* {
        position: relative;
    }

    .horizon-carousel {
        .title {
            @include mid;
            z-index: 11;
            mix-blend-mode: multiply;
            text-align: center;

            * {
                text-transform: uppercase;
            }

            h2 {
                font-size: 60px;
            }

            h4 {
                margin-bottom: 60px;
                font-size: 14px;
            }
        }

        margin-top: 160px;
        margin-bottom: 160px;

        .box {
            width: 400px;
            height: 400px;

            &.md {
                width: 320px;
                height: 320px;
            }

            &.sm {
                width: 240px;
                height: 240px;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }


        .top-carousel {
            margin-bottom: 20px;
        }

        .bottom-carousel {
            // margin-left: 10vw;
            @include align-items(flex-end);
        }

        .top-carousel,
        .bottom-carousel {
            @include d-flex;
            @include justify-content(space-between);
            width: 450vw;
            overflow: hidden;
        }
    }

    .home-stories {
        .carousel-container {
            position: relative;
            @include d-flex;
            @include justify-content(space-between);

            .stories-button {
                position: absolute;
                bottom: 5%;
                right: 13vw;
                width: 7vw;
                @include d-flex;
                @include justify-content(space-between);

                .arrow {
                    position: relative;



                    &::before {
                        content: "";
                        width: 20px;
                        width: 0;
                        height: 2px;
                        background-color: #000;
                        position: absolute;
                        @include transition(0.5s ease);
                        @include transform(translate(-50%, -50%) rotate(45deg));
                    }

                    &.left {
                        &::before {
                            border-radius: 50px;
                        }
                    }

                    &.right {
                        &::before {
                            border-radius: 50px;
                        }
                    }
                }
            }

            .stories-prev,
            .stories-next {
                width: 50%;
                height: 10px;

                &:hover {
                    .arrow::before {
                        width: 20px;
                    }
                }

                // img {
                // @include transition(0.3s ease);
                // }
            }

            .stories-prev {
                right: 200px;

                // &:hover {
                // img {
                // @include transform(translateX(-10px));
                // }
                // }
            }

            .stories-next {
                right: 100px;
                text-align: right;

                // &:hover {
                //     img {
                //         @include transform(translateX(10px));
                //     }
                // }
            }

            .carousel-wrapper,
            .second-carousel-wrapper {
                position: relative;
                top: 0;
                left: 0;
                min-height: 500px;
                min-height: unset;
                width: 70vw;
                aspect-ratio: 16/9;
                overflow: hidden;

                .carousel-slide {
                    &.is-selected {
                        .home-stories-icon img {
                            opacity: 1;
                            z-index: 999;
                        }

                        .home-news-content {
                            opacity: 1;
                        }

                        .home-stories-content {
                            opacity: 1;
                        }
                    }

                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    position: relative;

                    &:before {
                        background-color: rgba(0, 0, 0, 30%);
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                    }

                    >* {
                        z-index: 2;
                    }

                    .home-stories-icon {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        @include transform(translate(-50%, -50%));
                        width: 100px;
                        height: 100px;

                        &:hover {
                            img {
                                @include transform(translate(-50%, -50%) scale(0.7));
                            }
                        }

                        img {
                            @include transition(0.3s ease 1.5s);
                            transition: opacity 0.3s ease 1.5s, transform 0.3s ease;
                            opacity: 0;
                            width: 50px;
                            height: auto;
                            object-fit: cover;
                            @include mid;
                            left: 55%;
                        }
                    }

                    .home-stories-content {
                        position: absolute;
                        bottom: 96px;
                        left: 104px;
                        max-width: 400px;
                        opacity: 0;
                        @include transition(1.3s ease);

                        h3 {
                            font-family: 'GothicPro-Bold';
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 32px;
                            color: white;
                            text-transform: uppercase;
                            letter-spacing: 0.5px;
                        }

                        p {
                            font-family: 'happy-time-Regular';
                            font-weight: 400;
                            font-size: 48px;
                            line-height: 56px;
                            color: white;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .second-carousel-wrapper {
                height: calc(70vw*0.7*9/16);
                width: 20vw;
                align-self: center;

                .carousel-slide {
                    >img {
                        filter: grayscale(1);
                    }
                }
            }

        }
    }

    .home-report {
        margin-top: 160px;
        color: $text-black-cl;

        .home-report-title {
            // max-width: 1124px;
            @include d-flex;
            @include justify-content(space-between);
            width: 90%;
            padding-right: 14%;
            margin-left: auto;

            .showall {
                position: relative;

                &::after {
                    content: "";
                    width: 0%;
                    height: 1px;
                    background-color: #B70004;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    @include transition(0.3s ease);
                }

                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }

            h3 {
                // float: left;
                // padding-left: 100px;
                font-family: 'GothicPro-Bold';
                text-transform: uppercase;
                letter-spacing: 0.5px;
                display: inline-block;
                font-size: 18px;
                font-weight: bold;
            }

            a {
                // float: right;
                line-height: 16px;
                font-family: 'happy-time-Italic';
                font-weight: 400;
                size: 14px;
                color: $text-gray-cl;
                display: inline-block;

                &:hover {
                    color: $text-red-cl;
                }
            }
        }

        .home-report-slider {
            margin-top: 64px;
            margin-left: auto;
            // height: 50vh;
            width: 90%;
            height: 100vh;
            min-height: 800px;
            overflow-x: hidden;

            .slider-item {
                width: 25%;
                height: 50%;
                min-height: 400px;
                margin-right: 60px;

                @include mobile {
                    width: 80%;
                }

                // &:nth-child(even) {
                //     margin-top: 60px;
                // }

                &:hover {
                    .report-thumbnail {
                        filter: grayscale(0);
                    }

                    .report-content h3 a {
                        color: $text-red-cl;
                    }
                }

                .report-thumbnail {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: grayscale(1);
                    @include transition(0.3s ease);
                }

                .report-content {
                    padding-top: 32px;

                    p {
                        text-transform: uppercase;
                        color: $text-gray-cl;
                        font-family: 'GothicPro-Regular';
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 24px;
                        letter-spacing: 5%;
                    }

                    h3 {
                        color: $text-black-cl;
                        font-family: 'happy-time-Regular';
                        font-weight: 400;
                        line-height: 1.4;
                        font-size: 24px;

                        a {
                            &:hover {
                                color: $text-red-cl;
                            }

                            &:active {
                                border: none;
                            }
                        }
                    }
                }
            }

        }
    }

    .our-fund {
        overflow: hidden;

        h3 {
            // font-family: 'happy-time-Regular';
            text-transform: uppercase;
            font-size: 80px;
            line-height: 72px;
            font-weight: 400;
            white-space: nowrap;
            color: $text-red-cl;
            max-width: 900px;
            margin-bottom: 160px;
        }

        h4 {
            font-family: 'GothicPro-Bold';
            text-transform: uppercase;
            font-size: 20px;
            margin-bottom: 24px;
        }

        .of-list {
            ul {
                li {
                    position: relative;

                    &::before {
                        content: "";
                        width: 100%;
                        height: 1px;
                        background-color: rgba(20, 23, 28, 0.3);
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    &:hover {
                        a {
                            .of-name {
                                color: $text-red-cl;
                            }

                            .of-img {
                                img {
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    a {
                        @include d-flex;
                        @include justify-content(space-between);
                        @include align-items(center);

                        .of-name {
                            font-size: 40px;
                            @include transition(0.3s ease);
                        }

                        .of-img {
                            @include transform(translateY(-40px));

                            img {
                                @include transition(0.3s ease);
                                width: 240px;
                                height: auto;
                                opacity: 0;
                                animation: DaMagicAnimation 8s linear 0s infinite alternate;
                            }
                        }

                        .of-stat {
                            font-size: 14px;
                            text-transform: uppercase;
                            font-family: 'GothicPro-Regular';
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: right;
                        }
                    }
                }
            }
        }

        .our-fund-content {
            margin-top: 224px;

            .container {
                max-width: 1224px;
            }
        }
    }

    .home-news {
        margin-top: 160px;
        position: relative;

        p.main-title {
            text-transform: uppercase;
            font-size: 18px;
            line-height: 32px;
            font-family: 'GothicPro-Bold';
            margin-left: 100px;
            margin-bottom: 32px;
        }

        .home-news-thumbnail {}

        .home-news-icon {
            position: absolute;
            top: 104px;
            right: 192px;
        }

        .home-news-content {
            @include transition(0.5s ease 0.5s);
            opacity: 0;
            position: absolute;
            left: 104px;
            bottom: 64px;
            color: $white-cl;

            a {
                color: $white-cl;
            }



            h3 {
                font-family: 'happy-time-Regular';
                font-size: 48px;
                font-weight: 400;
                line-height: 56px;
                max-width: 993px;
            }

        }
    }

    .home-why {
        margin-top: 160px;

        // padding-bottom: 232px;
        position: relative;
        max-width: $container-width;
        margin-left: auto;
        margin-right: auto;

        h3 {
            text-align: center;
            margin: 0 auto;
            font-family: 'GothicPro-Bold';
            font-weight: bold;
            font-size: 18px;
            line-height: 32px;
        }

        .home-why-content {
            text-align: center;
            max-width: 640px;
            margin: 0 auto;
            font-size: 40px;
            line-height: 64px;
            font-weight: 400;
            font-family: 'happy-time-Regular';

            a {
                color: $text-red-cl;
                font-family: 'happy-time-Italic';
                display: inline-block;
            }
        }

        .home-why-thumb-left {
            position: absolute;
            left: 0;
            bottom: -500px;
        }

        .home-why-thumb-right {
            position: absolute;
            right: 0;
            bottom: -500px;
        }

        .home-why-thumb-bottom {
            position: absolute;
            bottom: -500px;
            left: 168px;
        }
    }

    .home-team {
        max-width: $container-width;
        margin: 160px auto;


        h3 {
            text-align: center;
            margin-bottom: 40px;
            font-family: 'GothicPro-Bold';
            font-weight: 700;
            font-size: 18px;
            line-height: 32px;
            text-transform: uppercase;
        }

        .home-team-content {
            text-align: center;
            font-family: 'happy-time-Regular';
            font-size: 88px;
            line-height: 128px;
            font-weight: 400;
            position: relative;

            ul {
                .focused {
                    z-index: 99;
                    // z-index: 13000;
                    // a {
                    //     -webkit-clip-path: inset(0 0 0 0) !important;
                    //     clip-path: inset(0 0 0 0) !important;
                    // }
                }

                .focused-out {
                    // >a {
                    //     -webkit-clip-path: inset(0 100% 0 0);
                    //     clip-path: inset(0 100% 0 0);
                    // }

                    // .word-grey {
                    //     -webkit-clip-path: inset(0 0 0 0) !important;
                    //     clip-path: inset(0 0 0 0) !important;
                    // }
                }

                li {
                    position: relative;
                    counter-increment: line-number;
                    display: block;

                    .word-grey {
                        display: none;
                        // -webkit-clip-path: inset(0 0 0 100%);
                        // clip-path: inset(0 0 0 100%);

                        // color: $text-red-cl;
                        // color: $darkblue;
                        // opacity: 30%;
                        // position: absolute;
                        // z-index: -1;
                        // width: 100%;
                        // top: 0;
                        // left: 50%;
                        // padding-left: 20px;
                        // @include transform(translateX(-50%));
                        // @include transition(1s ease);
                    }

                    a {
                        // -webkit-clip-path: inset(0 0 0 0);
                        // clip-path: inset(0 0 0 0);
                        color: $text-red-cl;
                        color: $darkblue;
                        @include transition(0.5s ease);
                        opacity: 0.5;

                        &:before {
                            content: counter(line-number)". ";
                            font-family: 'GothicPro-Regular';
                            font-size: 18px;
                            line-height: 24px;
                            color: $darkblue;
                        }

                        &:hover {
                            // color: $text-red-cl;
                            position: relative;
                            z-index: 99;
                        }
                    }

                    &:hover {
                        // .word-grey {
                        //     // color: $text-red-cl;
                        //     // opacity: 1;
                        //     -webkit-clip-path: inset(0 0 0 0) !important;
                        //     clip-path: inset(0 0 0 0) !important;
                        // }

                        a {
                            color: $text-red-cl;
                            opacity: 1;
                        }
                    }
                }
            }

            .home-team-image {
                position: absolute;
                top: 50%;
                transform: translate(-100%, -100%);
                right: 0;
                display: none;
                width: 320px;
                height: 480px;
                object-fit: cover;
                object-position: center;
                right: unset;
                left: var(--mouse-x);
                top: var(--mouse-y);
            }
        }
    }

    .home-client-content {
        margin-top: 160px;
        position: relative;
        z-index: 10;
        .showall {
            font-family: 'happy-time-Italic';
            font-size: 16px;
            text-transform: lowercase;

        }

        h3 {
            text-align: center;
            text-transform: uppercase;
            font-size: 18px;
            font-family: 'GothicPro-Bold';
            margin-bottom: 50px;
        }

        .col-md-3 {
            text-align: center;
            align-self: center;

            img {
                filter: grayscale(1);
                @include transition(0.3s ease);

                &:hover {
                    filter: grayscale(0);
                }
            }

            &:hover {
                img {
                    filter: grayscale(0);
                    @include transform(translateY(-15px));
                }
            }
        }
    }

    .city-view {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 180vh;
        display: block;
        z-index: 999;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            bottom: -10px;
            left: 0;
            z-index: 0;
            background-image: linear-gradient(to top, rgba(0, 0, 0, 100%), rgba(0, 0, 0, 80%), rgba(0, 0, 0, 10%), rgba(0, 0, 0, 10%), rgba(0, 0, 0, 10%), rgba(0, 0, 0, 10%), rgba(0, 0, 0, 10%), rgba(0, 0, 0, 10%), rgba(0, 0, 0, 10%), rgba(0, 0, 0, 0));
            background-color: transparent;
        }

        [class^="building-"] {
            position: absolute;
            left: 0;
            bottom: -10px;
            z-index: -1;
            width: 100%;
            img {
                width: 100%;
            }
        }
    }
}

#world-class {
    width: 100%;

    h3 {
        text-align: center;
    }

    .home-team-content {
        margin: 0 auto;
        width: 80%;

        ul {
            @include d-flex;
            flex-direction: column;

            li {
                counter-increment: line-number;

                a {}
            }
        }

    }
}