#banner {
    $base: 1;
    position: fixed;
    // position: relative;
    top: 0;
    left: 0;
    z-index: $base;
    width: 100%;
    height: 100vh;



    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .45);
        position: absolute;
        top: 0;
        left: 0;
        z-index: $base;
    }

    .banner-slider {
        height: 100vh;
        width: 100%;

        &-item {
            width: 100%;
            height: 100%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .banner-content {
        position: absolute;
        top: 50%;
        left: 100px;
        z-index: $base+1;
        @include transform(translateY(-50%));

        @include mobile {
            left: 15px;
        }

        * {
            @include text(56px, 'Sackers Gothic Std Heavy', 64px, #fff, lowercase);
        }


        h2 {
            font-size: 16px;
            line-height: 1;
            margin-bottom: 24px;
        }

        h1 {
            text-transform: uppercase;
            line-height: 64px;
            font-size: 56px;

            font-weight: 400;
            text-align: left;

            @include mobile {
                font-size: 32px;
                left: 20px;
                line-height: 1;
            }
        }
    }

    .banner-buttons {
        position: absolute;
        bottom: 40px;
        left: 100px;
        z-index: $base+1;
        @include d-flex;
        @include justify-content(space-between);

        @include mobile {
            @include flex-direction(column);
            left: 15px;
        }

        * {
            color: #fff;
            font-family: 'Sackers Gothic Std Heavy';
            text-transform: lowercase;
        }

        .banner-button {
            margin-right: 40px;
            position: relative;

            @include mobile {
                display: inline-block;
                margin-bottom: 16px;
                width: fit-content;
            }

            &::before,
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                width: 0;
                height: 1px;
                background: $primary;
            }

            &::before {
                left: 0;
            }

            &::after {
                right: 0;
                transition: width .3s;
            }

            &:hover::before {
                width: 100%;
                transition: width .3s;
            }

            &:hover::after {
                width: 100%;
                background: transparent;
            }

            a {
                display: inline-block;
                padding-bottom: 8px;
            }
        }

        .active {
            &::before {
                width: 100%;
                transition: width .5s;
            }

            &::after {
                width: 100%;
                background: transparent;
            }
        }
    }
}

#main {
    // overflow: hidden;
    background-color: $main-bg-cl;
    background-image: linear-gradient(180deg, #E4E8EC 5.89%, #E5EDF4 42.71%, #F4F6F8 70.85%, #CED6E9 91.64%);
    margin-top: calc(224px + 100vh);
    padding-top: 240px;
    // margin-bottom: $footer-height;
    position: relative;
    z-index: 11;

    >* {
        position: relative;
    }

    .horizon-carousel {
        .title {
            @include mid;
            z-index: 11;
            mix-blend-mode: multiply;
            text-align: center;

            * {
                text-transform: lowercase;
            }

            h2 {
                font-size: 60px;
            }

            h4 {
                margin-bottom: 60px;
                font-size: 14px;
            }
        }

        margin-top: 160px;
        margin-bottom: 160px;

        .box {
            width: 400px;
            height: 400px;

            &.md {
                width: 320px;
                height: 320px;
            }

            &.sm {
                width: 240px;
                height: 240px;
            }

            img {
                width: 100%;
                height: 100%;
            }
        }


        .top-carousel {
            margin-bottom: 20px;
        }

        .bottom-carousel {
            // margin-left: 10vw;
            @include align-items(flex-end);
        }

        .top-carousel,
        .bottom-carousel {
            @include d-flex;
            @include justify-content(space-between);
            width: 450vw;
            overflow: hidden;
        }
    }

    .home-stories {
        .h-s-title {
            position: relative;
            margin: 0 auto;
            margin-bottom: 80px;
            max-width: 930px;

            * {
                text-align: center;
            }

            h2 {
                @include text(48px, 'Sackers Gothic Std Heavy', 56px, #000, uppercase);
                letter-spacing: -3px;
                margin-bottom: 32px;

                @include mobile {
                    font-size: 24px;
                    line-height: 1.5;
                    margin-bottom: 16px;
                }
            }

            p {
                font-family: 'Zona-Pro', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                line-height: 1.5;
                max-width: 800px;
                margin: 0 auto;

                @include mobile {
                    font-size: 14px;
                }

            }
        }

        .carousel-container {
            position: relative;
            @include d-flex;
            @include justify-content(space-between);

            .stories-button {
                position: absolute;
                bottom: 0;
                right: 13vw;
                width: 7vw;
                @include d-flex;
                @include justify-content(space-between);

                .arrow {
                    position: relative;



                    // &::before {
                    //     content: "";
                    //     width: 20px;
                    //     width: 0;
                    //     height: 2px;
                    //     background-color: #000;
                    //     position: absolute;
                    //     @include transition(0.5s ease);
                    //     @include transform(translate(-50%, -50%) rotate(45deg));
                    // }

                    // &.left {
                    //     &::before {
                    //         border-radius: 50px;
                    //     }
                    // }

                    // &.right {
                    //     &::before {
                    //         border-radius: 50px;
                    //     }
                    // }
                }
            }

            .stories-prev,
            .stories-next {
                width: 50%;
                height: 10px;

                &:hover {
                    .arrow::before {
                        width: 20px;
                    }
                }

            }

            .stories-prev {
                right: 200px;

            }

            .stories-next {
                right: 100px;
                text-align: right;
            }

            .carousel-wrapper,
            .second-carousel-wrapper {
                position: relative;
                top: 0;
                left: 0;
                min-height: 500px;
                min-height: unset;
                width: 70vw;
                aspect-ratio: 16/9;
                overflow: hidden;

                .carousel-slide {
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    $zBase: 1;

                    img {
                        z-index: $zBase;
                    }

                    &:before {
                        background-color: rgba(0, 0, 0, 30%);
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: $zBase+1;
                    }

                    &.is-selected {
                        .home-stories-icon {
                            opacity: 1;
                            z-index: 999;
                            @include transition(0.5s ease 2s);
                        }

                        .home-news-content {
                            opacity: 1;
                            @include transition(0.5s ease 2s);
                        }

                        .home-stories-content {
                            opacity: 1;
                            @include transition(0.5s ease 2s);
                        }
                    }

                    .home-stories-icon {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        z-index: 3;
                        @include transform(translate(-50%, -50%));
                        width: 100px;
                        height: 100px;
                        opacity: 0;

                        &:hover {
                            svg {
                                @include transform(translate(-50%, -50%) scale(0.5));

                                path {
                                    fill: $text-red-cl;
                                }
                            }
                        }

                        svg {
                            @include mid;
                            @include transform(translate(-50%, -50%) scale(0.6));
                            left: 55%;
                            @include transition(0.3s ease-in-out);

                            @include mobile {
                                width: 30;
                            }

                            path {
                                @include transition(0.3s ease-in-out);
                            }

                        }
                    }

                    .home-stories-content {
                        position: absolute;
                        z-index: 3;
                        bottom: 40px;
                        left: 100px;
                        max-width: 400px;
                        opacity: 0;
                        @include transition(1.3s ease);

                        @include mobile {
                            left: 15px;
                            bottom: 15px;
                        }

                        p {
                            font-weight: 400;
                            font-size: 48px;
                            line-height: 56px;
                            color: white;
                            @include text(16px, 'Sackers Gothic Std Heavy', 16px, #fff, lowercase);
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .carousel-wrapper {
                @include mobile {
                    width: 100vw;
                    height: 350px;
                }
            }

            .second-carousel-wrapper {
                height: calc(70vw*0.7*9/16);
                width: 20vw;
                align-self: center;

                @include mobile {
                    display: none;
                }

                .carousel-slide {
                    >img {
                        filter: grayscale(1);
                    }
                }
            }

        }
    }

    .home-report {
        margin-top: 240px;
        color: $text-black-cl;

        @include mobile {
            margin-bottom: 160px;
            @include d-flex();
            flex-direction: column;
        }

        .text-right {
            @include mobile {
                text-align: center;
                order: 999;
                margin-top: 32px;
            }

            .showall {
                position: relative;
                display: inline-block;
                text-transform: lowercase;

                &::after {
                    content: "";
                    width: 0%;
                    height: 1px;
                    background-color: #B70004;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    @include transition(0.3s ease);
                }

                &:hover {
                    color: $text-red-cl;

                    &::after {
                        width: 100%;
                    }
                }

                @include mobile {
                    &::after {
                        background-color: #000;
                        width: 100%;
                    }
                }
            }
        }


        .home-report-title {
            text-align: center;
            margin-bottom: 80px;

            @include mobile {
                margin-bottom: 0;
            }

            h3 {
                @include text(16px, 'Sackers Gothic Std Heavy', 16px, $text-red-cl, lowercase);
                margin-bottom: 24px;

                @include mobile {
                    font-size: 14px;
                }
            }

            h2 {
                @include text(48px, 'Sackers Gothic Std Heavy', 56px, #000, uppercase);
                max-width: 1000px;
                margin: 0 auto;

                @include mobile {
                    font-size: 24px;
                    line-height: 1.5;
                }
            }

        }

        .home-report-slider {
            width: 100%;
            height: 100vh;
            height: 600px;
            overflow-x: hidden;
            max-width: 1224px;
            margin: 0 auto;
            margin-top: 32px;

            .slider-item {
                width: 32%;
                height: 50%;
                min-height: 400px;
                margin-right: 3%;

                @include mobile {
                    width: 80%;
                }

                &:hover {
                    .report-thumbnail {
                        filter: grayscale(0);
                    }

                    .report-content h3 a {
                        color: $text-red-cl;

                    }
                }

                .report-thumbnail {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    filter: grayscale(1);
                    @include transition(0.3s ease);
                }

                .report-content {
                    padding-top: 32px;

                    p {
                        text-transform: lowercase;
                        color: $text-gray-cl;
                        font-family: 'Sackers Gothic Std Heavy';
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 1;
                        letter-spacing: 0.05em;
                        padding-bottom: 16px;
                    }

                    .date {
                        color: #8A8A8A;
                        margin-top: 8px;
                        margin-bottom: 0;
                        font-family: 'Zona-Pro';
                        font-size: 14px;
                        text-transform: capitalize;
                    }


                    h3 {
                        color: $text-black-cl;
                        font-family: 'Zona-Pro';
                        font-weight: 400;
                        line-height: 1.4;
                        font-size: 18px;

                        a {
                            &:hover {
                                color: $text-red-cl;
                            }

                            &:active {
                                border: none;
                            }
                        }
                    }
                }
            }

        }

        .report-slider-button {
            @include mobile {
                display: none;
            }

            margin-left: auto;
            width: 100px;
            @include d-flex();
            @include justify-content(space-between);
        }
    }

    .our-funds {
        &-inner {
            .container {
                max-width: $container-width;
                margin: 0 auto;
            }
        }

    }

    .our-fund {
        overflow: hidden;

        h3 {
            // font-family: 'happy-time-Regular';
            text-transform: lowercase;
            font-size: 80px;
            line-height: 72px;
            font-weight: 400;
            white-space: nowrap;
            color: $text-red-cl;
            max-width: 900px;
            margin-bottom: 160px;
        }

        h4 {
            font-family: 'GothicPro-Bold';
            text-transform: lowercase;
            font-size: 20px;
            margin-bottom: 24px;
        }

        .of-list {
            ul {
                li {
                    position: relative;

                    &::before {
                        content: "";
                        width: 100%;
                        height: 1px;
                        background-color: rgba(20, 23, 28, 0.3);
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    &:hover {
                        a {
                            .of-name {
                                color: $text-red-cl;
                            }

                            .of-img {
                                img {
                                    opacity: 1;
                                }
                            }
                        }
                    }

                    a {
                        @include d-flex;
                        @include justify-content(space-between);
                        @include align-items(center);

                        .of-name {
                            font-size: 40px;
                            @include transition(0.3s ease);
                        }

                        .of-img {
                            @include transform(translateY(-40px));

                            img {
                                @include transition(0.3s ease);
                                width: 240px;
                                height: auto;
                                opacity: 0;
                                animation: DaMagicAnimation 8s linear 0s infinite alternate;
                            }
                        }

                        .of-stat {
                            font-size: 14px;
                            text-transform: lowercase;
                            font-family: 'GothicPro-Regular';
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            letter-spacing: 0em;
                            text-align: right;
                        }
                    }
                }
            }
        }

        .our-fund-content {
            margin-top: 224px;

            .container {
                max-width: 1224px;
            }
        }
    }

    .home-news {
        margin-top: 160px;
        position: relative;

        p.main-title {
            text-transform: lowercase;
            font-size: 18px;
            line-height: 32px;
            font-family: 'GothicPro-Bold';
            margin-left: 100px;
            margin-bottom: 32px;
        }

        .home-news-thumbnail {}

        .home-news-icon {
            position: absolute;
            top: 104px;
            right: 192px;
        }

        .home-news-content {
            @include transition(0.5s ease 0.5s);
            opacity: 0;
            position: absolute;
            left: 104px;
            bottom: 64px;
            color: $white-cl;

            a {
                color: $white-cl;
            }



            h3 {
                font-family: 'happy-time-Regular';
                font-size: 48px;
                font-weight: 400;
                line-height: 56px;
                max-width: 993px;
            }

        }
    }

    .home-why {
        margin-top: 160px;

        // padding-bottom: 232px;
        position: relative;
        max-width: $container-width;
        margin-left: auto;
        margin-right: auto;

        h3 {
            text-align: center;
            margin: 0 auto;
            font-family: 'GothicPro-Bold';
            font-weight: bold;
            font-size: 18px;
            line-height: 32px;
        }

        .home-why-content {
            text-align: center;
            max-width: 640px;
            margin: 0 auto;
            font-size: 40px;
            line-height: 64px;
            font-weight: 400;
            font-family: 'happy-time-Regular';

            a {
                color: $text-red-cl;
                font-family: 'happy-time-Italic';
                display: inline-block;
            }
        }

        .home-why-thumb-left {
            position: absolute;
            left: 0;
            bottom: -500px;
        }

        .home-why-thumb-right {
            position: absolute;
            right: 0;
            bottom: -500px;
        }

        .home-why-thumb-bottom {
            position: absolute;
            bottom: -500px;
            left: 168px;
        }
    }

    .home-team {
        max-width: $container-width;
        margin: 160px auto;


        h3 {
            text-align: center;
            margin-bottom: 40px;
            font-family: 'GothicPro-Bold';
            font-weight: 700;
            font-size: 18px;
            line-height: 32px;
            text-transform: lowercase;
        }

        .home-team-content {
            text-align: center;
            font-family: 'happy-time-Regular';
            font-size: 88px;
            line-height: 128px;
            font-weight: 400;
            position: relative;

            ul {
                .focused {
                    z-index: 99;
                    // z-index: 13000;
                    // a {
                    //     -webkit-clip-path: inset(0 0 0 0) !important;
                    //     clip-path: inset(0 0 0 0) !important;
                    // }
                }

                .focused-out {
                    // >a {
                    //     -webkit-clip-path: inset(0 100% 0 0);
                    //     clip-path: inset(0 100% 0 0);
                    // }

                    // .word-grey {
                    //     -webkit-clip-path: inset(0 0 0 0) !important;
                    //     clip-path: inset(0 0 0 0) !important;
                    // }
                }

                li {
                    position: relative;
                    counter-increment: line-number;
                    display: block;

                    .word-grey {
                        display: none;
                        // -webkit-clip-path: inset(0 0 0 100%);
                        // clip-path: inset(0 0 0 100%);

                        // color: $text-red-cl;
                        // color: $darkblue;
                        // opacity: 30%;
                        // position: absolute;
                        // z-index: -1;
                        // width: 100%;
                        // top: 0;
                        // left: 50%;
                        // padding-left: 20px;
                        // @include transform(translateX(-50%));
                        // @include transition(1s ease);
                    }

                    a {
                        // -webkit-clip-path: inset(0 0 0 0);
                        // clip-path: inset(0 0 0 0);
                        color: $text-red-cl;
                        color: $darkblue;
                        @include transition(0.5s ease);
                        opacity: 0.5;

                        &:before {
                            content: counter(line-number)". ";
                            font-family: 'GothicPro-Regular';
                            font-size: 18px;
                            line-height: 24px;
                            color: $darkblue;
                        }

                        &:hover {
                            // color: $text-red-cl;
                            position: relative;
                            z-index: 99;
                        }
                    }

                    &:hover {
                        // .word-grey {
                        //     // color: $text-red-cl;
                        //     // opacity: 1;
                        //     -webkit-clip-path: inset(0 0 0 0) !important;
                        //     clip-path: inset(0 0 0 0) !important;
                        // }

                        a {
                            color: $text-red-cl;
                            opacity: 1;
                        }
                    }
                }
            }

            .home-team-image {
                position: absolute;
                top: 50%;
                transform: translate(-100%, -100%);
                right: 0;
                display: none;
                width: 320px;
                height: 480px;
                object-fit: cover;
                object-position: center;
                right: unset;
                left: var(--mouse-x);
                top: var(--mouse-y);
            }
        }
    }

    .home-client-content {
        margin-top: 160px;
        position: relative;
        z-index: 10;

        .showall {
            font-family: 'happy-time-Italic';
            font-size: 16px;
            text-transform: lowercase;

        }

        h3 {
            text-align: center;
            text-transform: lowercase;
            font-size: 18px;
            font-family: 'GothicPro-Bold';
            margin-bottom: 50px;
        }

        .col-md-3 {
            text-align: center;
            align-self: center;

            img {
                filter: grayscale(1);
                @include transition(0.3s ease);

                &:hover {
                    filter: grayscale(0);
                }
            }

            &:hover {
                img {
                    filter: grayscale(0);
                    @include transform(translateY(-15px));
                }
            }
        }
    }

    .city-view {
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 1000px;
        display: block;
        z-index: -1;
        margin-top: -200px;

        @include mobile {
            height: 100vh;
            // bottom: -3px;
        }

        // &::after {
        //     content: "";
        //     width: 100%;
        //     height: 100%;
        //     position: absolute;
        //     bottom: -10px;
        //     left: 0;
        //     z-index: 0;
        //     background-image: linear-gradient(to top, rgba(0, 0, 0, 100%), rgba(0, 0, 0, 80%), rgba(0, 0, 0, 10%), rgba(0, 0, 0, 10%), rgba(0, 0, 0, 10%), rgba(0, 0, 0, 10%), rgba(0, 0, 0, 10%), rgba(0, 0, 0, 10%), rgba(0, 0, 0, 10%), rgba(0, 0, 0, 0));
        //     background-color: transparent;
        // }
        .cta-content {
            @include mid;
            top: unset;
            bottom: 300px;
            text-align: center;
            max-width: 650px;

            @include mobile {
                bottom: 30vh;
            }

            h4 {
                @include text(48px, 'Sackers Gothic Std Heavy', 64px, #fff, uppercase);
                margin-bottom: 24px;
            }

            a {
                @include text(16px, 'Sackers Gothic Std Heavy', 16px, #fff, lowercase);
                position: relative;

                display: inline-block;
                &::after {
                    content: "";
                    width: 0%;
                    height: 1px;
                    background-color: #B70004;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    @include transition(0.3s ease);
                }

                &:hover {
                    color: $text-red-cl;

                    &::after {
                        width: 100%;
                    }
                }
            }
        }

        [class^="building-"] {
            position: absolute;
            left: 0;
            bottom: -10px;
            z-index: -1;
            width: 100%;

            &:before {
                content: "";
                @include fullpage();
                height: 900px;
                top: unset;
                bottom: 0;
                background: linear-gradient(180deg, rgba(22, 22, 22, 0) 40%, rgba(22, 22, 22, 0.7) 60%, #161616 100%);
            }

            img {
                width: 100%;

                @include mobile {
                    width: unset;
                }
            }
        }
    }
}

#world-class {
    width: 100%;

    h3 {
        text-align: center;
    }

    .home-team-content {
        margin: 0 auto;
        width: 80%;

        ul {
            @include d-flex;
            flex-direction: column;

            li {
                counter-increment: line-number;

                a {}
            }
        }

    }
}