.modal-menubar-content{
    display: none;
}
html.page{
    .page-our-team{
        .get-in-touch{
            .text{
                /*                .getintouch-detail{ 
                                    display: none;
                
                                }*/
                .contact-detail{
                    display: none;
                }
            }
        }
        #main{
            padding-bottom: 0px;
            .page-block{
                .page-content{
                    .tab-page{
                        margin-bottom: 80px;
                    }
                    .list-team{
                        .item-team{
                            position: relative;
                            overflow: hidden;

                            .content-image{
                                overflow: hidden;
                                max-height: 376px;  

                            }   

                            //fix-start
                            .report-content{
                                text-transform: uppercase;
                                padding-top: 32px;
                                h3{
                                    font-family: 'Sackers Gothic Std Heavy';
                                    font-size: 16px;
                                    line-height: 24px;
                                    text-transform: uppercase;
                                }
                                p{
                                    font-family: 'Sackers Gothic Std Heavy';                                 
                                    font-size: 14px;
                                    line-height: 14px; 
                                    padding-top: 8px;                                               
                                    text-transform: lowercase;
                                    /*color: $text-red-cl;*/

                                }

                            }                    
                            &:hover{
                                .thumbnail{
                                    filter: grayscale(0);
                                    transform: scale(1.1);
                                    transition: .8s all;                                                                      
                                }    
                                .report-content{
                                    h3{
                                        a{
                                            line-height: 16px;
                                            color: $text-red-cl;                                            
                                        }
                                    }
                                }
                            }
                            .thumbnail{
                                filter: grayscale(1);
                                transform: scale(1);
                                transition:  .8s all;
                                -webkit-transition:  .8s all;                                                            
                            }                          
                            .content-text{
                                display: none;
                                text-align: center;
                                width: 100%;
                                padding: 0 15px;                                
                                position: absolute;
                                left: 0;
                                bottom:15px;
                                color: $white-cl;
                                text-transform: uppercase;
                                z-index: 9999;
                                a{
                                    color: $white-cl;
                                    font-family: 'Sackers Gothic Std Heavy';
                                    font-size: 18px;
                                    line-height: 48px;
                                }
                                p{
                                    font-size: 14px;
                                    line-height: 14px;
                                    font-family: 'Sackers Gothic Std Medium';
                                }
                                .our-fund-detail{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
            
            .view-more{
                margin-top: -6px;
                text-transform: lowercase;
            }
        }//fix-end
    }
}